In [2]:
from catboost import CatBoostClassifier

import csv

from datetime import datetime

from geopy.geocoders import Nominatim
geolocator = Nominatim(user_agent="ask")
from geopy.distance import distance
from geopy.extra.rate_limiter import RateLimiter
geocode = RateLimiter(geolocator.geocode, min_delay_seconds=0.01, max_retries = 10)

from lightgbm import LGBMClassifier

import numpy as np 
import matplotlib.pyplot as plt
import ml_metrics as metrics
import pandas as pd

import pycountry

from sklearn.cluster import KMeans, MiniBatchKMeans
from sklearn.datasets import make_moons, make_circles, make_classification
from sklearn.ensemble import RandomForestClassifier, AdaBoostClassifier, GradientBoostingRegressor, StackingClassifier, \
GradientBoostingClassifier, VotingClassifier, BaggingClassifier
from sklearn.inspection import permutation_importance
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix, mean_squared_error, average_precision_score, accuracy_score
from sklearn.model_selection import cross_val_score, train_test_split, KFold, GridSearchCV
from sklearn.neural_network import MLPClassifier
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import StandardScaler, MaxAbsScaler
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier

from tqdm import tqdm

from xgboost import XGBClassifier

import os
for dirname, _, filenames in os.walk('Data'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

Data/d.csv
Data/lat_long.csv
Data/tours_useful.csv
Data/bikers_useful.csv
Data/bikers_network_useful.csv
Data/test_tids.csv
Data/sample_submission.csv
Data/x_p.csv
Data/test_x.csv
Data/d_p.csv
Data/test_bikerids.csv
Data/x_1.csv
Data/tour_convoy.csv
Data/test.csv
Data/probabs.csv
Data/evalml_debug.log
Data/x_2.csv
Data/x_n.csv
Data/bikers.csv
Data/y_1.csv
Data/y_2.csv
Data/y.csv
Data/tours.csv
Data/x_3.csv
Data/bikers_network.csv
Data/useful.tar.xz
Data/x.csv
Data/train.csv
Data/tour_convoy_useful.csv
Data/imputed/tours_useful.csv
Data/imputed/bikers_useful.csv
Data/non_imputed/tours_useful.csv
Data/non_imputed/bikers_useful.csv
Data/khushal/training_data_final_1.csv
Data/khushal/testing_data_final_1.csv

In [3]:
train = pd.read_csv("Data/train.csv")
test = pd.read_csv("Data/test.csv")
biker = { key: row for key, *row in csv.reader(open("Data/bikers_useful.csv", 'r'))}
print(biker.pop('biker_id'))
biker_net = { key: row for key, *row in csv.reader(open("Data/bikers_network_useful.csv", 'r'))}
print(biker_net.pop('biker_id'))
tours = { key: row for key, *row in csv.reader(open("Data/tours_useful.csv", 'r'))}
print(tours.pop('tour_id'))
tour_convoy = { key: row for key, *row in csv.reader(open("Data/tour_convoy_useful.csv", 'r'))}
print(tour_convoy.pop('tour_id'))

['language_id', 'location_id', 'bornIn', 'gender', 'member_since', 'area', 'time_zone', 'latitude', 'longitude']
['friends']
['biker_id', 'tour_date', 'city', 'state', 'pincode', 'country', 'latitude', 'longitude', 'w1', 'w2', 'w3', 'w4', 'w5', 'w6', 'w7', 'w8', 'w9', 'w10', 'w11', 'w12', 'w13', 'w14', 'w15', 'w16', 'w17', 'w18', 'w19', 'w20', 'w21', 'w22', 'w23', 'w24', 'w25', 'w26', 'w27', 'w28', 'w29', 'w30', 'w31', 'w32', 'w33', 'w34', 'w35', 'w36', 'w37', 'w38', 'w39', 'w40', 'w41', 'w42', 'w43', 'w44', 'w45', 'w46', 'w47', 'w48', 'w49', 'w50', 'w51', 'w52', 'w53', 'w54', 'w55', 'w56', 'w57', 'w58', 'w59', 'w60', 'w61', 'w62', 'w63', 'w64', 'w65', 'w66', 'w67', 'w68', 'w69', 'w70', 'w71', 'w72', 'w73', 'w74', 'w75', 'w76', 'w77', 'w78', 'w79', 'w80', 'w81', 'w82', 'w83', 'w84', 'w85', 'w86', 'w87', 'w88', 'w89', 'w90', 'w91', 'w92', 'w93', 'w94', 'w95', 'w96', 'w97', 'w98', 'w99', 'w100', 'w_other']
['going', 'maybe', 'invited', 'not_going']

In [4]:
train_bikers_set = np.array(train["biker_id"].drop_duplicates())
test_bikers_set = np.array(test["biker_id"].drop_duplicates())
req_bikers_set = np.array([*biker])
tours_set = np.array([*tours])
req_bikers_set.shape, train_bikers_set.shape, tours_set.shape

((2231,), (1934,), (9343,))

In [5]:
tour_convoy_full = { key: row for key, *row in csv.reader(open("Data/tour_convoy.csv", 'r'))}

In [6]:
events_attended = {}
events_notgoing = {}
events_maybe = {}
for tid, row in tour_convoy_full.items():
    people_attended = row[0].split()
    people_maybe = row[1].split()
    people_notgoing = row[2].split()
    for bid in people_attended:
        events_attended[bid] = events_attended.get(bid, 0) + 1
    for bid in people_notgoing:
        events_notgoing[bid] = events_notgoing.get(bid, 0) + 1
    for bid in people_maybe:
        events_maybe[bid] = events_maybe.get(bid, 0) + 1
        
events_attended_friends = {}
events_notgoing_friends = {}
events_maybe_friends = {}
no_friends = {}
for bid, row in biker_net.items():
    friends = row[0].split()
    no_friends[bid] = len(friends)
    for friend in friends:
        events_attended_friends[bid] = events_attended_friends.get(bid, 0) + events_attended.get(friend, 0)
        events_notgoing_friends[bid] = events_notgoing_friends.get(bid, 0) + events_notgoing.get(friend, 0)
        events_maybe_friends[bid] = events_maybe_friends.get(bid, 0) + events_maybe.get(friend, 0)
        
events_attended_friends

{'IF1286067': 10,
 'EB01519751': 54,
 'CB63304477': 25,
 'DJ7493741': 14,
 'DI3523902': 75,
 'DF54343061': 8,
 'BF38685648': 150,
 'DC51568850': 32,
 'CI79905973': 52,
 'DA95718598': 8,
 'CA08761267': 253,
 'EI3332100': 38,
 'DA71657222': 36,
 'BJ48333652': 21,
 'BI72064755': 0,
 'DB42327997': 59,
 'CH52875123': 5,
 'EC88238269': 5,
 'CD56937947': 116,
 'EA58274528': 23,
 'BD69905557': 54,
 'BI09934947': 28,
 'BF07405031': 29,
 'BG29404827': 15,
 'FB7270916': 128,
 'DD25600533': 73,
 'DI87778002': 12,
 'DB10482182': 61,
 'FG9826712': 103,
 'HF47671': 8,
 'DJ25613292': 20,
 'CA48999821': 19,
 'DB23500032': 195,
 'CG37352610': 15,
 'BA79339663': 1429,
 'DG46961870': 92,
 'CC71261888': 12,
 'DI16191065': 140,
 'DJ86193980': 90,
 'CB93694254': 47,
 'CE7769793': 83,
 'BJ18945522': 30,
 'CB87183134': 56,
 'CJ71889961': 85,
 'CF56133275': 20,
 'CD93365897': 7,
 'DH09066919': 21,
 'EB79324570': 23,
 'BH74655165': 31,
 'CB64973127': 146,
 'FC7523423': 16,
 'DB31909049': 48,
 'BC92184871': 25,
 'CC57286686': 72,
 'BD49230619': 2917,
 'BH4994783': 48,
 'CF63679078': 128,
 'DG97643704': 20,
 'DC27661980': 56,
 'DH52474458': 37,
 'DB87292148': 55,
 'CA41677127': 65,
 'GA5903903': 27,
 'IG3771353': 0,
 'DJ44021305': 112,
 'CG84781446': 43,
 'DB98504537': 19,
 'IH5823959': 26,
 'BB78274219': 27,
 'BF48216840': 74,
 'DC35544076': 16,
 'BH28055600': 46,
 'CC90297293': 6,
 'CI22972903': 42,
 'EA60379526': 15,
 'EB65509784': 45,
 'BG8764910': 115,
 'CJ16559717': 26,
 'HA585535': 42,
 'DI51487388': 8,
 'DB98801990': 5,
 'DB91212256': 67,
 'DH71702031': 32,
 'JG7361915': 37,
 'CI2914818': 37,
 'DC82478477': 7,
 'CA33945746': 760,
 'JJ9268198': 9,
 'DJ65529047': 14,
 'DG69048335': 56,
 'CF67514456': 116,
 'BC2826603': 185,
 'DJ94781966': 89,
 'CI77985693': 50,
 'CB88094871': 30,
 'DG80318580': 62,
 'EB46086354': 443,
 'BH83276120': 271,
 'BF97392855': 1,
 'CF45657612': 11,
 'BG41960627': 7,
 'DF67042309': 289,
 'CC65864872': 52,
 'BC92417817': 123,
 'ED9507113': 129,
 'DF35608264': 71,
 'DF07534894': 71,
 'CG19163162': 227,
 'DJ6929851': 2,
 'EB03253513': 250,
 'CA68379568': 119,
 'DG35047946': 12,
 'BG01125543': 68,
 'DC2814221': 36,
 'BI34669948': 103,
 'BJ90188032': 4,
 'CE8375618': 1,
 'CD83553413': 3,
 'CG38473114': 47,
 'DJ09997753': 78,
 'DH75078143': 2,
 'EC69216118': 32,
 'CA34536037': 31,
 'BD54120181': 12,
 'EA40322582': 414,
 'DH23896394': 52,
 'JJ5603012': 153,
 'EB85115186': 178,
 'BE63717359': 7,
 'JD2543338': 13,
 'DD36438888': 64,
 'BH01323236': 18,
 'CJ12946138': 11,
 'CB0296799': 57,
 'CB16294822': 52,
 'BA06838695': 18,
 'CJ45719859': 26,
 'DH88009173': 47,
 'EA46490355': 127,
 'CC3726744': 6,
 'FJ3799836': 17,
 'DC45671824': 14,
 'DD84998777': 12,
 'DF2769719': 49,
 'CC23946882': 841,
 'CH87637778': 30,
 'BI98427878': 16,
 'EC39616087': 6,
 'EA02956902': 172,
 'BA38432983': 22,
 'CI0995052': 106,
 'BD68412107': 37,
 'JJ0116823': 75,
 'BI75891307': 332,
 'CH06413631': 23,
 'BI54575078': 36,
 'BE84078818': 6,
 'BH47471686': 43,
 'ED9279583': 98,
 'CI04635189': 10,
 'DB98823658': 135,
 'BF39256277': 64,
 'DG85921102': 143,
 'DB75354507': 79,
 'EC36494': 177,
 'CD21074684': 1,
 'BA30441254': 2,
 'CJ03662804': 151,
 'IB0608905': 301,
 'DA96870348': 178,
 'BA47741032': 3,
 'EB57365314': 122,
 'CB63512224': 19,
 'CA30266367': 34,
 'DF92311259': 77,
 'CG04497840': 7,
 'DF4974889': 76,
 'CE85670452': 12,
 'DI35637004': 197,
 'BA63393664': 40,
 'DJ70062925': 63,
 'CJ33561364': 125,
 'CJ37549539': 115,
 'CG79652649': 34,
 'CI56945250': 8,
 'BJ33513142': 16,
 'EB70157131': 22,
 'BB15244043': 1,
 'BC13744330': 58,
 'EA48868881': 64,
 'DB55504635': 6,
 'DH51635372': 24,
 'DF56981605': 78,
 'CI45673972': 32,
 'CI03741841': 326,
 'EB37863751': 749,
 'CE3893094': 60,
 'DJ30126543': 95,
 'DC7414596': 310,
 'BE44113850': 2,
 'DC91092348': 73,
 'JF9300591': 17,
 'DE30986998': 4,
 'JG2338748': 58,
 'BA00293064': 11,
 'BI51530247': 3,
 'CH28047278': 23,
 'CC52845148': 156,
 'DH98708300': 36,
 'DD16715342': 73,
 'BJ46827878': 47,
 'EC02112938': 48,
 'CC64585544': 38,
 'DF4026608': 99,
 'BC30559341': 27,
 'GE2317092': 42,
 'BJ283444': 29,
 'EG9116393': 78,
 'DF48214416': 35,
 'BD20099877': 168,
 'DB80412264': 101,
 'DH19137321': 9,
 'EA91804141': 4,
 'CJ3229720': 19,
 'CD40199364': 14,
 'CJ002074': 6,
 'BD301498': 33,
 'CF07955484': 26,
 'CA6173756': 21,
 'EB86528243': 105,
 'EB34124728': 2,
 'EC2002690': 3,
 'CI13753172': 23,
 'BJ74832510': 52,
 'CA71842684': 471,
 'CI63143805': 211,
 'FB6841937': 2,
 'CH93393083': 63,
 'DI03479601': 217,
 'BE27626481': 121,
 'CI27067982': 54,
 'BI27991074': 38,
 'IH5145825': 35,
 'BB66204486': 103,
 'EC61865653': 37,
 'BI15238419': 11,
 'BJ84545931': 23,
 'DA04312073': 20,
 'DI78851138': 52,
 'HA9445936': 395,
 'EH6865227': 0,
 'GF1258472': 7,
 'DG11774179': 5,
 'FE4449933': 20,
 'BB59947871': 56,
 'DC10206992': 13,
 'DH66417922': 8,
 'BI26584692': 89,
 'CC38460219': 281,
 'DC82509573': 326,
 'FD5350558': 85,
 'DG31889944': 148,
 'CE00147519': 3,
 'CG83024755': 22,
 'HD8525400': 141,
 'EC22590338': 6,
 'GI9225317': 9,
 'CI64941156': 1,
 'BF54993130': 40,
 'BD08650192': 23,
 'DD18646261': 125,
 'JI7701123': 48,
 'DG42118045': 22,
 'BH20019070': 76,
 'BF95465532': 76,
 'BJ72874413': 50,
 'BC90399197': 14,
 'CF46983756': 39,
 'EC78168842': 302,
 'DH9327893': 189,
 'BB0310789': 32,
 'DG37069534': 175,
 'DC92982761': 62,
 'DF98881287': 40,
 'BA39126403': 197,
 'GI2721107': 18,
 'BC13367737': 104,
 'DH3631588': 7,
 'EB06525792': 10,
 'ID6628838': 12,
 'DC24203982': 42,
 'FA457238': 97,
 'BG76582816': 836,
 'CB96784941': 15,
 'CE80816831': 11,
 'CC02271093': 435,
 'HJ3834125': 173,
 'DI4932005': 102,
 'DI18890017': 45,
 'CF71725299': 49,
 'CJ32861723': 16,
 'BI47581168': 25,
 'DF629376': 167,
 'HD6262792': 126,
 'EB3292015': 36,
 'JG4607716': 238,
 'EB81543522': 0,
 'BD58236584': 0,
 'EF8389001': 619,
 'DE60014666': 22,
 'IJ3322374': 34,
 'JJ5064362': 91,
 'BF71490313': 2,
 'BH25995841': 67,
 'DB4484928': 7,
 'EA44282675': 244,
 'DD95257600': 179,
 'DH02967330': 6,
 'BA75126714': 183,
 'BI82344631': 130,
 'CG7902048': 1047,
 'DC81890361': 29,
 'DI42862938': 27,
 'CH06298619': 2,
 'DD78002804': 68,
 'BB84895977': 17,
 'II2525479': 44,
 'DF63882371': 24,
 'DA35853030': 274,
 'DB53655575': 70,
 'DA71252660': 104,
 'HB3889887': 76,
 'CC82893903': 30,
 'BI4140061': 37,
 'BH47091728': 42,
 'CE36252940': 97,
 'BC14006960': 0,
 'FH6776993': 106,
 'CF43824082': 3,
 'CF93432040': 291,
 'DA43291654': 16,
 'CF71895925': 102,
 'CE80747202': 127,
 'II7085722': 125,
 'HD4292380': 9,
 'JE3483502': 2,
 'FA7847098': 98,
 'BC36336671': 460,
 'DJ98399905': 5,
 'DC97493554': 1712,
 'CE36389418': 38,
 'HG9376177': 54,
 'IA379054': 19,
 'BH32120655': 22,
 'CJ75026524': 39,
 'DE69589500': 56,
 'DG3577443': 20,
 'GH0504249': 17,
 'DG82151225': 15,
 'DI985694': 3,
 'CC49748129': 33,
 'EA67602271': 21,
 'CE58068456': 211,
 'EA20164258': 105,
 'DG43380555': 72,
 'EH5620820': 27,
 'EB51484001': 16,
 'FB7357553': 0,
 'EB52805025': 7,
 'CD45460195': 106,
 'CG1990895': 29,
 'BJ51340806': 0,
 'DB93929919': 12,
 'IJ5967408': 45,
 'EC57951883': 5,
 'DC23036396': 50,
 'CA74086523': 86,
 'DE49620252': 46,
 'IA2688704': 205,
 'CJ78622176': 91,
 'CB77461994': 57,
 'DB78723259': 2,
 'BG19453117': 107,
 'CD60121322': 168,
 'DI26739942': 78,
 'HE9467696': 24,
 'CC65899995': 56,
 'JI5547042': 62,
 'BA25593498': 9,
 'JI6039272': 95,
 'CC61578513': 11,
 'CB29690960': 9,
 'CA22308068': 146,
 'DH73947618': 10,
 'DE66521212': 92,
 'CH91232352': 50,
 'GJ1831024': 136,
 'DF00240032': 68,
 'GA9630180': 8,
 'EA52225912': 27,
 'CH61872404': 1,
 'CA54531858': 6,
 'BH85235519': 83,
 'CE77144867': 194,
 'CA54648409': 54,
 'CH12853779': 93,
 'HC4483958': 43,
 'EC9489211': 36,
 'EC38321438': 32,
 'CC81560980': 59,
 'DH99854455': 126,
 'DI66177358': 38,
 'EA05604348': 24,
 'GD9250885': 2,
 'GD7505307': 11,
 'BI76906939': 10,
 'DA36141956': 717,
 'DI66909611': 1,
 'EA78937413': 43,
 'CC71406145': 44,
 'FD2014578': 76,
 'BC7904873': 106,
 'IA9834239': 83,
 'BG49320589': 34,
 'CJ6126900': 32,
 'BD72842685': 95,
 'FH1210795': 80,
 'DH99386472': 121,
 'BD12400822': 408,
 'CA14445987': 18,
 'BG79420385': 178,
 'BA72041355': 65,
 'HG3143562': 37,
 'DG47725503': 35,
 'DA37654114': 120,
 'GE5414373': 1,
 'DE82692814': 21,
 'BH42267789': 214,
 'BF40298318': 1,
 'FG7534910': 95,
 'EB18821425': 4,
 'EC06209185': 86,
 'EB96666928': 32,
 'DJ41958556': 128,
 'DE67219840': 26,
 'DF8368837': 24,
 'DE4906444': 153,
 'BH41814612': 11,
 'DF1713549': 29,
 'GB6227847': 62,
 'DI6145959': 10,
 'BB70938005': 21,
 'IB458678': 142,
 'CC23714757': 786,
 'BH1842881': 30,
 'DA98511794': 28,
 'DB18355226': 103,
 'BG12038297': 18,
 'BI5422302': 108,
 'CE13089165': 28,
 'EB36285322': 440,
 'FG4641393': 43,
 'DA91527231': 0,
 'BG25530935': 6,
 'DI25327054': 3,
 'CB27416756': 52,
 'II5331957': 52,
 'CE95407859': 4,
 'EB04928393': 873,
 'EA75574010': 81,
 'BD04554072': 10,
 'CE41936878': 24,
 'CH01755218': 3,
 'CC03000569': 13,
 'DG22262372': 294,
 'EC47824186': 52,
 'DG17843828': 198,
 'BC96420014': 6,
 'DG54861045': 15,
 'CG59357596': 83,
 'CE6547106': 26,
 'BB64338332': 22,
 'BE3093592': 0,
 'CB62823560': 2,
 'DI43287866': 98,
 'BD69743769': 60,
 'BD01945337': 167,
 'EB33514703': 21,
 'BE21630185': 39,
 'GG1151794': 14,
 'DC76463946': 67,
 'DG70434254': 33,
 'FC8218683': 13,
 'BB27657981': 21,
 'BF22287705': 0,
 'DJ22819697': 10,
 'FG8409249': 131,
 'DA84096535': 103,
 'DI94667987': 253,
 'EH9907067': 59,
 'CD81922770': 85,
 'DI33491880': 43,
 'CG5682801': 38,
 'DJ81819420': 4,
 'DG16798795': 123,
 'CD170479': 352,
 'IC923911': 7,
 'DE27263623': 36,
 'DI49582471': 191,
 'DB67658465': 32,
 'BF31475209': 38,
 'BA60099431': 8,
 'BA90447281': 23,
 'BI95679477': 24,
 'IH3272013': 8,
 'DI62811674': 13,
 'JI054194': 54,
 'BC10507520': 25,
 'CH89880308': 78,
 'HH0526360': 134,
 'DF04868122': 79,
 'HJ2037916': 29,
 'CJ57852218': 7,
 'JD1677473': 63,
 'CG43058163': 191,
 'BI04164018': 32,
 'CH03461171': 116,
 'BF66021834': 55,
 'CI84249863': 50,
 'DD65642090': 63,
 'HC8332848': 30,
 'CC05536033': 23,
 'JH062150': 962,
 'DD38812734': 22,
 'CI42187594': 28,
 'BA75504486': 12,
 'EC75037038': 26,
 'BJ3113796': 4,
 'CE56225582': 32,
 'CF90409583': 29,
 'DF05202339': 42,
 'CH91418962': 202,
 'DA44183470': 37,
 'BG68862262': 1,
 'ED1015679': 10,
 'CJ54668845': 4,
 'CF84536356': 7,
 'BI21733300': 56,
 'DB65928866': 57,
 'GG6534021': 11,
 'DE27056824': 45,
 'CB85852179': 211,
 'GI4722612': 32,
 'CE73747678': 80,
 'BA18886228': 69,
 'DI98478698': 164,
 'JJ6222490': 17,
 'CE44212053': 8,
 'CG30238456': 293,
 'CF71348801': 395,
 'BJ66851184': 29,
 'CE67980416': 67,
 'BA91746693': 52,
 'CJ62659545': 24,
 'DD38007773': 7,
 'CD12878118': 47,
 'CC85462405': 52,
 'DE74900298': 115,
 'BG15303306': 59,
 'GH7234912': 18,
 'CG09061039': 91,
 'BJ17038415': 4,
 'DD91264132': 36,
 'BF07678209': 14,
 'DD88914512': 18,
 'DA43278753': 58,
 'CF79352265': 33,
 'JB4476369': 136,
 'EG0608021': 67,
 'CJ71846635': 73,
 'BD39643555': 29,
 'CC48506579': 26,
 'CC91885035': 92,
 'BD17928829': 36,
 'DB93697919': 4,
 'BE85684679': 23,
 'EI1236042': 28,
 'BJ23507186': 159,
 'GA5378672': 37,
 'CC43396544': 192,
 'CG26409021': 69,
 'GB2098420': 35,
 'DE04441712': 1050,
 'DF94731327': 47,
 'DI974975': 1103,
 'BG25116475': 0,
 'JG920130': 35,
 'BB34784132': 10,
 'DJ03823612': 26,
 'DB57328676': 41,
 'DG57701087': 14,
 'CD19889082': 46,
 'CI44491503': 2,
 'DD48417635': 63,
 'DD26031604': 95,
 'CH66172404': 65,
 'CJ36324533': 45,
 'CD43762978': 31,
 'CG77559053': 34,
 'CJ28822295': 149,
 'JB6547437': 32,
 'DA52191172': 39,
 'DF27940337': 115,
 'BH03562892': 20,
 'DC03593930': 139,
 'DJ5305791': 328,
 'CI62718608': 0,
 'CC12919969': 29,
 'EG9837401': 112,
 'EE1391794': 136,
 'EB35589149': 16,
 'BE67007408': 31,
 'GF1240040': 45,
 'DD00092451': 95,
 'DJ63277827': 49,
 'DG97489067': 108,
 'DD50047181': 84,
 'DB76074542': 175,
 'FF5384690': 158,
 'CD15042356': 5,
 'HB5159059': 84,
 'DH24535659': 1216,
 'DB48555709': 16,
 'BB60667975': 94,
 'EC46010516': 57,
 'CB99467633': 168,
 'CG50571118': 6,
 'CF01052021': 68,
 'BD46837558': 50,
 'EA24104633': 0,
 'BA73821707': 72,
 'DD60609244': 101,
 'JG5181412': 8,
 'GI1315287': 90,
 'CI90467561': 35,
 'BF41756008': 4,
 'BG6685992': 63,
 'HC298333': 162,
 'CC78013791': 2,
 'DC0000323': 4,
 'CD17630684': 133,
 'DA05728385': 17,
 'DJ56190115': 15,
 'BC58740073': 84,
 'CI56937853': 135,
 'DJ70825989': 2,
 'DA53992683': 1,
 'JD4187073': 1,
 'CI58760089': 22,
 'EB56731925': 40,
 'CH68250886': 0,
 'CJ63121670': 12,
 'CE90559498': 41,
 'CJ95967526': 1,
 'BI73687001': 110,
 'DJ45099542': 36,
 'CA62768867': 13,
 'GD0652349': 61,
 'DD89773360': 53,
 'CH2165392': 35,
 'EC85564534': 46,
 'CE63413235': 7,
 'DD53825628': 28,
 'CI806872': 12,
 'BH47573617': 105,
 'EA55395044': 155,
 'CA90888096': 57,
 'EB08811510': 39,
 'CB53152806': 173,
 'CD37182196': 22,
 'CD78571713': 31,
 'BA37260580': 563,
 'BB04375072': 336,
 'DG76872343': 143,
 'GA8372256': 71,
 'IF3658665': 3,
 'BF98750229': 122,
 'HB2040216': 81,
 'BC95003824': 35,
 'CH61832946': 33,
 'DB08358241': 21,
 'EB78291537': 0,
 'DC44067756': 29,
 'HG5240064': 9,
 'HA0438783': 98,
 'BC28133573': 166,
 'DJ43175229': 937,
 'GF3909548': 192,
 'BG15717851': 7,
 'EB9456233': 20,
 'DD6493147': 136,
 'CC17853337': 61,
 'DC8922601': 7,
 'JA0897870': 97,
 'BB17272184': 469,
 'BF86029420': 15,
 'BJ12698965': 17,
 'BC34792409': 53,
 'DB23712598': 20,
 'II3237232': 15,
 'BH11604959': 174,
 'DE59927853': 80,
 'DE56890538': 78,
 'DJ26920467': 2,
 'DG15297413': 10,
 'BF43462230': 19,
 'EC26575687': 21,
 'BD50285710': 2,
 'CB0626346': 4,
 'BF41564886': 842,
 'BF79613783': 5,
 'BG25052108': 208,
 'DG81459280': 103,
 'DB72189947': 145,
 'DH4950100': 26,
 'CD61587577': 7,
 'CD37052402': 10,
 'CI18464367': 286,
 'CG90867178': 17,
 'CA63714458': 31,
 'FB5567373': 0,
 'CJ58453070': 460,
 'GA8310969': 28,
 'DB94014105': 31,
 'EB1205694': 3,
 'EC61340176': 197,
 'DI04509987': 64,
 'CE2262473': 59,
 'DD50877536': 8,
 'DB96759129': 7,
 'FH0405433': 19,
 'DH32091250': 69,
 'DG69515588': 7,
 'BC33774081': 59,
 'DC31004341': 223,
 'JE7750317': 6,
 'EC69957924': 39,
 'CJ37013787': 117,
 'II554519': 37,
 'BC21271987': 13,
 'BB1840914': 20,
 'CH66269208': 7,
 'CB56846040': 572,
 'BI71580056': 33,
 'BA27250316': 12,
 'CF77093097': 4,
 'BE52056386': 75,
 'BI23716058': 0,
 'BG40786388': 57,
 'CJ25400415': 162,
 'CI15174275': 107,
 'GA9504174': 71,
 'BH37429301': 68,
 'EA57602883': 897,
 'CB66518457': 32,
 'FA4326263': 62,
 'FH2449222': 3,
 'CD14166008': 69,
 'DF2560129': 3,
 'EE7244169': 6,
 'BC89232847': 35,
 'DB47626282': 182,
 'CC86248913': 31,
 'CC22162186': 25,
 'EC07448575': 10,
 'DC53822509': 6,
 'CA27353775': 88,
 'DA76967009': 20,
 'DF50832930': 66,
 'CE25859426': 3,
 'DE64554032': 52,
 'BB50230846': 65,
 'BB01021964': 40,
 'DC44428383': 0,
 'CG68702555': 8,
 'DE80044787': 27,
 'CC54327912': 22,
 'GI1010476': 203,
 'DH79883288': 64,
 'BI82928667': 8,
 'DC6930040': 94,
 'DE18659271': 439,
 'BH49528606': 423,
 'CA80715583': 5,
 'DB15928657': 132,
 'DC05053921': 32,
 'BJ85852583': 125,
 'DI77440809': 20,
 'EB99616576': 70,
 'BA66906993': 289,
 'DI22987687': 33,
 'BC64179509': 74,
 'DF87335204': 45,
 'CG94023881': 49,
 'CE46596885': 1,
 'CC82422131': 5,
 'CJ54864792': 136,
 'GE8889363': 19,
 'BI79127286': 69,
 'DG01599789': 39,
 'CH27600790': 4,
 'DH93812304': 19,
 'BG7200370': 148,
 'CJ2529766': 28,
 'EC86635694': 1,
 'EB45252615': 177,
 'DA6153925': 7,
 'EI3141559': 8,
 'CG48736219': 29,
 'CC0184636': 310,
 'DC53486500': 41,
 'HI5251375': 59,
 'BI79459765': 30,
 'BD99383819': 6,
 'BB09967945': 23,
 'BJ55766052': 21,
 'DH34794530': 92,
 'DE75233110': 2,
 'CD38481531': 2672,
 'CH11152367': 18,
 'ED6392678': 280,
 'BF94431230': 166,
 'BA23717643': 24,
 'EC06471336': 16,
 'CE83584418': 120,
 'BF24520597': 51,
 'BE37617088': 54,
 'FA0590864': 18,
 'DI33425001': 62,
 'BA71319145': 27,
 'DH78197718': 68,
 'BE22103142': 37,
 'CG89941153': 26,
 'FI9199943': 16,
 'DG4700925': 40,
 'DA69569833': 40,
 'CE24565945': 73,
 'DA21411633': 17,
 'EA89111119': 15,
 'BD74956141': 14,
 'CG91223445': 273,
 'DC99562450': 37,
 'DD36162241': 3,
 'BD74205441': 0,
 'CD42735753': 56,
 'DI90676452': 16,
 'BJ96678705': 187,
 'CI83315236': 15,
 'BC21391751': 10,
 'BH88256739': 7,
 'DG68457471': 63,
 'CD78242378': 18,
 'EB64388326': 18,
 'BF48590231': 70,
 'CG21463744': 36,
 'EB9778061': 47,
 'DA33728418': 43,
 'CA23976924': 90,
 'DD8395830': 1,
 'CH00330302': 92,
 'BI32146052': 64,
 'BC10853041': 14,
 'EA30525076': 173,
 'DB66414361': 47,
 'CH94470551': 15,
 'DE35412352': 28,
 'DB72450732': 65,
 'EI8389895': 212,
 'DI33637800': 32,
 'IB1791433': 168,
 'EC93103086': 12,
 'CG44266735': 1,
 'EI9170488': 136,
 'CC54352523': 0,
 'IJ1035674': 2,
 'FG7820539': 30,
 'CE95110802': 100,
 'BB97154185': 64,
 'CE51466347': 28,
 'BB23244794': 488,
 'BF40524189': 30,
 'CI88420415': 85,
 'CG75088061': 20,
 'DF11417249': 368,
 'DC89417890': 221,
 'CD29661605': 67,
 'DA96946503': 11,
 'CF97201802': 129,
 'BI65714809': 14,
 'BJ11617585': 46,
 'BJ87194661': 4,
 'GF4235318': 52,
 'CB47677924': 100,
 'CG60754061': 11,
 'BE62984861': 23,
 'CF22377610': 10,
 'JF170590': 77,
 'BA17536864': 90,
 'IF640691': 244,
 'DH87931088': 30,
 'DH4464774': 141,
 'DD15282129': 321,
 'CH46088407': 1,
 'DJ68152684': 266,
 'HC3110955': 35,
 'IB8241254': 0,
 'BG66288434': 41,
 'JH5501999': 126,
 'BH47042580': 64,
 'BD02145719': 501,
 'CG94809416': 81,
 'DF1801772': 58,
 'CH92856754': 94,
 'DC56961152': 207,
 'BB57924193': 53,
 'EB95660981': 40,
 'EB90165036': 75,
 'BJ35452377': 4,
 'CG24862533': 86,
 'HB688472': 4,
 'CE65513009': 7,
 'BB52125988': 152,
 'DD10268237': 65,
 'BB01602207': 32,
 'II0096064': 27,
 'FB6353916': 43,
 'ED7050836': 5,
 'BF28359455': 157,
 'BH67855106': 113,
 'FB165908': 37,
 'BB95601618': 48,
 'BE04395751': 91,
 'EI6884397': 74,
 'BB50601139': 377,
 'GI7313787': 31,
 'EB22019703': 16,
 'CA07776821': 204,
 'EF139176': 83,
 'CC44689014': 5,
 'CG34481972': 11,
 'BF31339765': 66,
 'BG20608449': 10,
 'CD84215566': 79,
 'CD53444142': 290,
 'EA00106370': 124,
 'DI15063730': 30,
 'EB97193550': 11,
 'DF1313256': 16,
 'BD04321680': 35,
 'DI67241412': 25,
 'EC01750807': 80,
 'DC70633490': 111,
 'CE0018991': 573,
 'DA93978794': 27,
 'BC87950172': 65,
 'GH7048573': 11,
 'CE67409062': 565,
 'DJ46163681': 73,
 'GA3763318': 1,
 'EC05646791': 181,
 'EA57542584': 0,
 'CD32715028': 45,
 'EB41924620': 25,
 'DA24528036': 8,
 'BH61058217': 261,
 'CB84501135': 213,
 'DI20521570': 50,
 'CC06472604': 22,
 'DI61090052': 97,
 'CC95726157': 2,
 'BE20338074': 118,
 'CC75313265': 3,
 'DD98074284': 2,
 'DC1386359': 87,
 'DJ13824397': 7,
 'BD86214900': 311,
 'CH11982636': 42,
 'CI10188071': 91,
 'EA30798150': 630,
 'CC86292570': 10,
 'BB20323401': 59,
 'EA66782471': 63,
 'DF11155378': 10,
 'DD84563138': 0,
 'DG91949299': 139,
 'CA98552598': 41,
 'BB91714842': 192,
 'DB91592351': 142,
 'DB17046697': 42,
 'BG66085128': 450,
 ...}

In [7]:
tours_full = pd.read_csv("Data/tours.csv").values
len_tf = tours_full.shape[0]
np.random.seed(42)
tours_full = tours_full[np.random.choice(len_tf, len_tf//10)]
tours_full.shape

(313797, 110)

In [8]:
#Cluster word frequencies using K Means
#word_count = tours_full.loc[:, "w1":"w_other":1].values
word_count = []
for row in tqdm(tours_full):
    w = []
    for i in range(9, 110):
        w.append(int(row[i]))
    word_count.append(w)
    
word_count = np.array(word_count)
 
kmeans = KMeans(n_clusters=30, random_state=0).fit(word_count)
#kmeans = MiniBatchKMeans(n_clusters=30, batch_size = 10, random_state=0).fit(tours_full)
#tours_full = None

100%|██████████| 313797/313797 [00:11<00:00, 28471.48it/s]

In [9]:
word_count.shape

(313797, 101)

In [10]:
#Selecting top countries for bikers and putting rest as others
countries = {}
for bid, row in biker.items():
    countries[row[1]] = countries.get(row[1], 0) + 1
    
countries_list = list(countries.keys())
countries_list.sort(key = lambda x : countries[x], reverse = True)
top_10_countries = countries_list[:10]
country_val = {}
for i, country in enumerate(top_10_countries):
    country_val[country] = i
    
#Selecting top countries for tours and putting rest as others
tour_countries = {}
for bid, row in tours.items():
    tour_countries[row[5]] = tour_countries.get(row[5], 0) + 1
    
tour_countries_list = list(tour_countries.keys())
tour_countries_list.sort(key = lambda x : tour_countries[x], reverse = True)
tour_top_10_countries = tour_countries_list[:10]
tour_country_val = {}
for i, country in enumerate(tour_top_10_countries):
    tour_country_val[country] = i    
    
#Selecting top cities for tours and putting rest as others
tour_cities = {}
for bid, row in tours.items():
    tour_cities[row[2]] = tour_cities.get(row[2], 0) + 1
    
tour_cities_list = list(tour_cities.keys())
tour_cities_list.sort(key = lambda x : tour_cities[x], reverse = True)
tour_top_10_cities = tour_cities_list[:10]
tour_city_val = {}
for i, city in enumerate(tour_top_10_cities):
    tour_city_val[city] = i    

#Selecting top languages for bikers and putting rest as others
langs = {}
for bid, row in biker.items():
    langs[row[1]] = langs.get(row[0], 0) + 1
    
langs_list = list(langs.keys())
langs_list.sort(key = lambda x : langs[x], reverse = True)
top_10_langs = langs_list[:10]
lang_val = {}
for i, lang in enumerate(top_10_langs):
    lang_val[lang] = i

top_10_langs

['ID', 'ES', 'FR', 'KR', 'US', 'AR', 'GB', 'LA', 'GE', 'CA']

In [11]:
top_10_loc = { 
                 'ID': [-2.4833826, 117.8902853],
                 'US': [39.7837304, -100.4458825],
                 'GB': [54.7023545, -3.2765753],
                 'LA': [20.0171109, 103.378253],
                 'ES': [39.3262345, -4.8380649],
                 'FR': [46.603354, 1.8883335],
                 'GE': [32.3293809, -83.1137366],
                 'AR': [-34.9964963, -64.9672817],
                 'CN': [35.000074, 104.999927],
                 'RU': [64.6863136, 97.7453061]
}
for bid, row in biker.items():
    if row[7] == '0' and row[1] in top_10_loc:
        biker[bid][7] = top_10_loc[row[1]][0]
    if row[8] == '0' and row[1] in top_10_loc:
        biker[bid][8] = top_10_loc[row[1]][1]

In [12]:
biker_full = { key: row for key, *row in csv.reader(open("Data/bikers.csv", 'r'))}
print(biker_full.pop('biker_id'))

['language_id', 'location_id', 'bornIn', 'gender', 'member_since', 'area', 'time_zone']

In [13]:
biker_full_lat = {}
biker_full_long = {}
for bid, row in biker_full.items():
    if row[1] in top_10_loc:
        biker_full_lat[bid] = top_10_loc[row[1]][0]
        biker_full_long[bid] = top_10_loc[row[1]][1]

In [14]:
cc_set = {
            'LA': [20.0171109, 103.378253],
            'RU': [64.6863136, 97.7453061],
            'ID': [-2.4833826, 117.8902853],
            'LT': [55.3500003, 23.7499997],
            'VN': [13.2904027, 108.4265113],
            'CN': [35.000074, 104.999927],
            'BR': [-10.3333333, -53.2],
            'ES': [39.3262345, -4.8380649],
            'FR': [46.603354, 1.8883335],
            'UD': [39.7837304, -100.4458825],
            'US': [39.7837304, -100.4458825],
            'GE': [32.3293809, -83.1137366],
            'GB': [54.7023545, -3.2765753],
            'TW': [23.9739374, 120.9820179],
            'CA': [61.0666922, -107.9917071]
        }

com_coun = {**cc_set, **top_10_loc}

def get_nan_count():
    nan_count = 0
    for tid, row in tours.items():
        if row[6] == '' or row[7] == '':
            nan_count+=1
    return nan_count

def get_friend_org(org):
    for bid, row in biker_net.items():
        friends = row[0].split()
        if org in friends:
            return bid
    return ''


def repl_missing_tour_loc1():
    for tid, row in tours.items():
        if row[6] == '':
            att_list = tour_convoy_full[tid][0].split()
            bc_list = []
            for bi in att_list:
                if bi in biker_full:
                    bc_list.append(biker_full[bi][1])
            if len(bc_list) > 0:
                most_common_c = max(set(bc_list), key=bc_list.count)
                #print(most_common_c)
                tours[tid][6] = com_coun[most_common_c][0]
        if row[7] == '':
            att_list = tour_convoy_full[tid][0].split()
            bc_list = []
            for bi in att_list:
                if bi in biker_full:
                    bc_list.append(biker_full[bi][1])
            if len(bc_list) > 0:
                most_common_c = max(set(bc_list), key=bc_list.count)
                tours[tid][7] = com_coun[most_common_c][1]

def repl_missing_tour_loc2():
    for tid, row in tqdm(tours.items()):
        fren = ''
        if row[6] == '' or row[7] == '':
            fren = get_friend_org(row[0])
        if row[6] == '':
            if fren not in biker_full_lat:
                continue
            #print("hi")
            tours[tid][6] = biker_full_lat[fren]
        if row[7] == '':
            if fren not in biker_full_long:
                continue
            tours[tid][7] = biker_full_long[fren]

repl_missing_tour_loc1()
repl_missing_tour_loc2()

latlist = []
longlist = []
for tid, row in tours.items():
    if row[6] != '':
        latlist.append((float(row[6])))
    if row[7] != '':
        longlist.append((float(row[7])))
        
latmed = np.median(np.array(latlist))
longmed = np.median(np.array(longlist))

for tid, row in tours.items():
    if row[6] == '':
        tours[tid][6] = latmed
    if row[7] == '':
        tours[tid][7] = longmed
get_nan_count()

100%|██████████| 9343/9343 [07:16<00:00, 21.42it/s]

0

In [15]:
#Number of tours each person has in train/test set
train_count = {}
test_count = {}
like_count = {}
dislike_count = {}
train_tour_count = {}
test_tour_count = {}

for index, row in train.iterrows():
    train_count[row["biker_id"]]   = train_count.get(row["biker_id"],0)+1
    like_count[row["biker_id"]]    = like_count.get(row["biker_id"],0)+row["like"]
    dislike_count[row["biker_id"]] = dislike_count.get(row["biker_id"],0)+row["dislike"]
    train_tour_count[row["tour_id"]]   = train_tour_count.get(row["tour_id"],0)+1
    
    
for index, row in test.iterrows():
    test_count[row["biker_id"]] = test_count.get(row["biker_id"],0)+1
    test_tour_count[row["tour_id"]]   = test_tour_count.get(row["tour_id"],0)+1

In [68]:
events_attended_dist = {}
events_notgoing_dist = {}
events_maybe_dist = {}
for tid, row in tour_convoy_full.items():
    if tid == 'tour_id' or tid not in tours:
        continue
    people_attended = row[0].split()
    people_maybe = row[1].split()
    people_notgoing = row[2].split()
    for bid in people_attended:
        events_attended_dist[bid] = events_attended_dist.get(bid, np.zeros(101)) + np.array(list(map(lambda x: int(x), tours[tid][8:109])))
    for bid in people_notgoing:
        events_notgoing_dist[bid] = events_notgoing_dist.get(bid, np.zeros(101)) + np.array(list(map(lambda x: int(x), tours[tid][8:109])))
    for bid in people_maybe:
        events_maybe_dist[bid] = events_maybe_dist.get(bid, np.zeros(101)) + np.array(list(map(lambda x: int(x), tours[tid][8:109])))
        
events_attended_friends_dist = {}
events_notgoing_friends_dist = {}
events_maybe_friends_dist = {}
for bid, row in biker_net.items():
    friends = row[0].split()
    for friend in friends:
        events_attended_friends_dist[bid] = events_attended_friends_dist.get(bid, np.zeros(101)) + events_attended_dist.get(friend, np.zeros(101))
        events_notgoing_friends_dist[bid] = events_notgoing_friends_dist.get(bid, np.zeros(101)) + events_notgoing_dist.get(friend, np.zeros(101))
        events_maybe_friends_dist[bid] = events_maybe_friends_dist.get(bid, np.zeros(101)) + events_maybe_dist.get(friend, np.zeros(101))
        
for bid in events_attended_dist:
    events_attended_dist[bid] /= (events_attended[bid] + 1)
    
for bid in events_notgoing_dist:
    events_notgoing_dist[bid] /= (events_notgoing[bid] + 1)
    
for bid in events_maybe_dist:
    events_maybe_dist[bid] /= (events_maybe[bid] + 1)
    
for bid in events_attended_friends_dist:
    events_attended_friends_dist[bid] /= (events_attended_friends[bid] + 1)
    
for bid in events_notgoing_friends_dist:
    events_notgoing_friends_dist[bid] /= (events_notgoing_friends[bid] + 1)
    
for bid in events_maybe_friends_dist:
    events_maybe_friends_dist[bid] /= (events_maybe_friends[bid] + 1)
    
len(events_attended_friends_dist)

2231

In [83]:
def get_like_count(bid):
    return like_count.get(bid,0)

def get_dislike_count(bid):
    return dislike_count.get(bid,0)

def get_no_friends_count(bid):
    return no_friends.get(bid,0)

def get_train_count(bid):
    return train_count.get(bid,0)

def get_test_count(bid):
    return test_count.get(bid,0)

def get_train_tour_count(tid):
    return train_tour_count.get(tid,0)

def get_test_tour_count(tid):
    return test_tour_count.get(tid,0)

def get_country(bid):
    return country_val.get(biker[bid][1], 10)

def get_lang(bid):
    return lang_val.get(biker[bid][0].upper(), 10)

def get_tour_country(tid):
    return tour_country_val.get(tours[tid][5], 10)

def get_tour_city(tid):
    return tour_city_val.get(tours[tid][2], 10)

def get_delta1(bid, tid, timestamp):
    return (abs(datetime.strptime(timestamp[:10], "%d-%m-%Y") - 
                datetime.strptime(tours[tid][1], "%d-%m-%Y")).total_seconds())/1e7

def get_delta2(bid, tid, timestamp):
    return (abs(datetime.strptime(timestamp[:10], "%d-%m-%Y") - 
                datetime.strptime(biker[bid][4], "%d-%m-%Y")).total_seconds())/1e7

def get_delta3(bid, tid):
    return (abs(datetime.strptime(biker[bid][4], "%d-%m-%Y") - 
                datetime.strptime(tours[tid][1], "%d-%m-%Y")).total_seconds())/1e7

def get_distance(bid, tid):
    return distance((biker[bid][7], biker[bid][8]), (tours[tid][6], tours[tid][7])).miles

def get_top10_wc(tid):
    row = tours[tid]
    w = []
    for i in range(8, 109):
        w.append(int(row[i]))
    w = np.array(w)
    return kmeans.predict(np.array([w]))[0]

def get_sum_wc(tid):
    row = tours[tid]
    s = 0
    for i in range(8,18):
        s += int(row[i])
    return s

def get_gender(bid):
    return biker[bid][3] == 'male'
    
def get_age(bid):
    by = (biker[bid][2])
    if by == None or by == 'None':
        by = 1990
    return (2020 - int(by))

def get_friend_with_org(bid, tid):
    org = tours[tid][0]
    frens = biker_net[bid][0].split()
    return org in frens

def get_ymdw(tobj):
    tim = datetime.strptime(tobj, "%d-%m-%Y")
    return [tim.year, tim.month, tim.day, tim.weekday()]

def get_timezone(bid):
    tz = biker[bid][6]
    if tz == '':
        return 7.0
    return int(tz)/60

def get_sim_a(bid, tid):
    v1 = events_attended_dist.get(bid, None)
    if v1 is None:
        return 0
    v2 = np.array(list(map(lambda x: int(x), tours[tid][8:109])))
    a = np.linalg.norm(v1)
    b = np.linalg.norm(v2)
    if a == 0 or b == 0 :
        return 0
    return np.dot(v1, v2)/(a*b)

def get_sim_n(bid, tid):
    v1 = events_notgoing_dist.get(bid, None)
    if v1 is None:
        return 0
    v2 = np.array(list(map(lambda x: int(x), tours[tid][8:109])))
    a = np.linalg.norm(v1)
    b = np.linalg.norm(v2)
    if a == 0 or b == 0 :
        return 0
    return np.dot(v1, v2)/(a*b)

def get_sim_m(bid, tid):
    v1 = events_maybe_dist.get(bid, None)
    if v1 is None:
        return 0
    v2 = np.array(list(map(lambda x: int(x), tours[tid][8:109])))
    a = np.linalg.norm(v1)
    b = np.linalg.norm(v2)
    if a == 0 or b == 0 :
        return 0
    return np.dot(v1, v2)/(a*b)

def get_sim_af(bid, tid):
    v1 = events_attended_friends_dist.get(bid, None)
    if v1 is None:
        return 0
    v2 = np.array(list(map(lambda x: int(x), tours[tid][8:109])))
    a = np.linalg.norm(v1)
    b = np.linalg.norm(v2)
    if a == 0 or b == 0 :
        return 0
    return np.dot(v1, v2)/(a*b)

def get_sim_nf(bid, tid):
    v1 = events_notgoing_friends_dist.get(bid, None)
    if v1 is None:
        return 0
    v2 = np.array(list(map(lambda x: int(x), tours[tid][8:109])))
    a = np.linalg.norm(v1)
    b = np.linalg.norm(v2)
    if a == 0 or b == 0 :
        return 0
    return np.dot(v1, v2)/(a*b)

def get_sim_mf(bid, tid):
    v1 = events_maybe_friends_dist.get(bid, None)
    if v1 is None:
        return 0
    v2 = np.array(list(map(lambda x: int(x), tours[tid][8:109])))
    a = np.linalg.norm(v1)
    b = np.linalg.norm(v2)
    if a == 0 or b == 0 :
        return 0
    return np.dot(v1, v2)/(a*b)

fraction_in = {}
total_attendees = {}
deltas = {}
total_maybe = {}
total_notgoing = {}

for tid, row in tour_convoy.items():
    not_going = len(row[3].split())
    invited = len(row[2].split())
    maybe = len(row[1].split())
    attend = len(row[0].split())
    fraction_in[tid] = (not_going)/(invited+1)
    total_attendees[tid] = attend
    total_maybe[tid] = maybe
    total_notgoing[tid] = maybe

for index, row in train.iterrows():
    a = row["biker_id"]
    b = row["tour_id"]
    c = row["timestamp"]
    curr_delta = get_delta1(a,b,c)
    if a not in deltas:
        deltas[a] = curr_delta
    else:
        deltas[a] = min(deltas[a], curr_delta)
        
for index, row in test.iterrows():
    a = row["biker_id"]
    b = row["tour_id"]
    c = row["timestamp"]
    curr_delta = get_delta1(a,b,c)
    if a not in deltas:
        deltas[a] = curr_delta
    else:
        deltas[a] = min(deltas[a], curr_delta)

In [231]:
d = 0
def make_feature(bid, tid, timestamp, invited):
    f = [0.0]*224
    
    f[0] = get_delta1(bid, tid, timestamp)
    f[1] = fraction_in[tid]
    f[2] = total_attendees[tid]
    f[3] = get_distance(bid, tid)
    f[4] = events_attended_friends[bid]
    f[5] = 1 if f[0] == 0 else deltas[bid]/f[0]
    f[6] = invited
    f[7] = total_maybe[tid]
    f[8] = events_notgoing_friends[bid]
    f[9] = events_maybe_friends[bid]
    
    country = get_country(bid)
    for i in range(11):
        f[10+i] = int(i == country)
    
    wc = get_top10_wc(tid)
    for i in range(30):
        f[21+i] = int(i == wc)
    
    f[51] = get_train_count(bid)
    f[52] = get_test_count(bid)
    f[53] = get_delta2(bid, tid, timestamp)
    f[54] = get_delta3(bid, tid)
    f[55] = total_notgoing[tid]
    f[56] = get_gender(bid)
    f[57] = get_age(bid)
    f[58] = get_friend_with_org(bid, tid)
    
    t1 = get_ymdw(timestamp[:10])
    t1 += get_ymdw(biker[bid][4])
    t1 += get_ymdw(tours[tid][1])
    for j in range(12):
        f[59+j] = t1[j]
    
    tour_country = get_tour_country(tid)
    for i in range(11):
        f[71+i] = int(i == tour_country)
    
    tour_city = get_tour_city(tid)
    for i in range(11):
        f[82+i] = int(i == tour_city)
    
    lang = get_lang(bid)
    for i in range(11):
        f[93+i] = int(i == lang)
    
    f[104] = get_timezone(bid)
    f[105] = get_sum_wc(tid)
    f[106] = (t1[3] in [4,5,6])
    f[107] = (t1[7] in [4,5,6])
    f[108] = (t1[11] in [4,5,6])
    
    f[109] = get_like_count(bid)
    f[110] = get_dislike_count(bid)
    f[111] = get_no_friends_count(bid)
    
    f[112] = events_attended.get(bid,0)
    f[113] = events_maybe.get(bid,0)
    f[114] = events_notgoing.get(bid,0)
    
    for i in range(8, 109):
        f[115+i-8] = int(tours[tid][i])
        
    f[216] = get_train_tour_count(tid)
    f[217] = get_test_tour_count(tid)
    
    f[218] = get_sim_a(bid, tid)
    f[219] = get_sim_n(bid, tid)
    f[220] = get_sim_m(bid, tid)
    f[221] = get_sim_af(bid, tid)
    f[222] = get_sim_nf(bid, tid)
    f[223] = get_sim_mf(bid, tid)
    
    return np.array(f)

X, Y = [], []
for index, row in train.iterrows():
    a = row["biker_id"]
    b = row["tour_id"]
    c = row["timestamp"]
    d = row["invited"]
    X.append(make_feature(a, b, c, d))
    if(row["like"] == 1):
        Y.append(1)
    else:
        Y.append(0)
        
X = np.array(X)
Y = np.array(Y)

#scaler = StandardScaler()
#scaler.fit(X)
#X = scaler.transform(X)
test_X = []
for index, row in test.iterrows():
    a = row["biker_id"]
    b = row["tour_id"]
    c = row["timestamp"]
    d = row["invited"]
    test_X.append(make_feature(a, b, c, d))

        
test_X = np.array(test_X)

X.shape

(13866, 224)

In [248]:
ts = {}
inv = {}
for index, row in train.iterrows():
    ts[(row["biker_id"], row["tour_id"])] = row["timestamp"]
    inv[(row["biker_id"], row["tour_id"])] = row["invited"]

def get_ground(data):
    biker_set_curr = np.array(data["biker_id"].drop_duplicates())
    index = {}
    for i, biker in enumerate(biker_set_curr):
        index[biker]=i
    result = [[]]*len(biker_set_curr)
    for id, row in data.iterrows():
        if row["like"] == 1:
            #result[index[row["biker_id"]]].append(row["tour_id"])
            result[index[row["biker_id"]]].append(1)
        else:
            result[index[row["biker_id"]]].append(0)
    return result

def get_pred(data, classifier, reg):
    biker_set_curr = np.array(data["biker_id"].drop_duplicates())
    tours_out =[[]]*len(biker_set_curr)
    index = {}
    for i, biker in enumerate(biker_set_curr):
        index[biker]=i
    for id, row in data.iterrows():
        biker1 = row["biker_id"]
        tou = row["tour_id"]
        fe = make_feature(biker1, tou, ts[(biker1, tou)], inv[(biker1, tou)]).reshape(1,-1)
        s = classifier.predict_proba(fe)[0][1]
        tours_out[index[biker1]].append(s)
    return tours_out

def cross_validate(X, Y, classifier, reg=False):
    kf = KFold(n_splits=4)
    scores = []
    for train_index, test_index in kf.split(X):
        X_train = X[train_index]
        y_train = Y[train_index]
        classifier.fit(X_train, y_train)
        test_data = train.iloc[test_index]
        ground_truth = get_ground(test_data)
        predictions = get_pred(test_data, classifier, reg)
        #print((ground_truth), (predictions))
        curr_score = 0.0
        for gt, pre in zip(ground_truth, predictions):
            #print(gt, pre)
            curr_score += average_precision_score(gt, pre)
        curr_score /= len(ground_truth)
        scores.append(curr_score)
    return np.array(scores)        


nf = X.shape[1]
rfmf = nf - 2
gbmf = nf - 1
#{'learning_rate': 0.11664380912238853, 'max_depth': 2, 'colsample_bylevel': 1.0, 'scale_pos_weight': 1.0, 'bagging_temperature': 43.095488904563325,
# 'random_strength': 54.31426569199799, 'reg_lambda': 73.12682176174783}
classifiers = [
    #RandomForestClassifier(max_depth=20, n_estimators=201, max_features=rfmf, max_samples = 0.7, random_state = 0, criterion='entropy'),
    #XGBClassifier(max_depth=15, n_estimators=201,  random_state = 0, verbosity = 0, use_label_encoder=False, objective = 'binary:logistic', 
    #              min_child_weight=3,learning_rate=0.05,gamma=0.3, colsample_bytree=0.7),
    LGBMClassifier(max_depth=-1, n_estimators=201,  random_state = 0, verbosity = 0, subsample=0.9, reg_lambda = 0.00043856,
                  learning_rate=0.1,num_leaves=59, colsample_bytree=0.9, force_row_wise=True),
    #AdaBoostClassifier(DecisionTreeClassifier(max_depth=3),algorithm="SAMME",n_estimators=351),
    #MLPClassifier(random_state=1, max_iter=500, solver='adam'),{'depth': 6, 'l2_leaf_reg': 11, 'iterations': 200, 'learning_rate': 0.1}
    CatBoostClassifier(iterations=250, learning_rate=0.10001, depth=11, eval_metric='Accuracy', random_state=0, verbose=249, l2_leaf_reg = 3.0121),
#     CatBoostClassifier(iterations=250, eval_metric='Accuracy', random_state=0, verbose=249, learning_rate = 0.11664380912238853, max_depth = 2,
#                        colsample_bylevel = 1.0, scale_pos_weight = 1.0, bagging_temperature = 43.095488904563325, random_strength = 54.31426569199799, 
#                        reg_lambda = 73.12682176174783),
    GradientBoostingClassifier(max_depth=15, n_estimators=201, max_features=gbmf, random_state = 0)
]
clf0 = classifiers[0]
clf1 = classifiers[1]
#clf2 = classifiers[2]
# scores = cross_validate(X , Y, clf0, False)
# scores = cross_val_score(clf0, X, Y, cv = 4, scoring = 'accuracy')
# print(scores)
# print("Accuracy: %0.4f (+/- %0.4f)" % (scores.mean(), scores.std() * 2))
# #scores = cross_validate(X, Y, clf1, True)
# scores = cross_val_score(clf1, X, Y, cv = 4, scoring = 'accuracy')
# print(scores)
# print("Accuracy: %0.4f (+/- %0.4f)" % (scores.mean(), scores.std() * 2))
# clf0.fit(X,Y)
# clf1.fit(X,Y)
# clf3=BaggingClassifier(n_estimators=17,base_estimator=clf0,random_state=0)
# clf4=BaggingClassifier(n_estimators=17,base_estimator=clf1,random_state=0)
# clf5=BaggingClassifier(n_estimators=17,base_estimator=clf1,random_state=0)
clf3=AdaBoostClassifier(base_estimator=clf0,n_estimators=130,random_state=0)
clf4=AdaBoostClassifier(base_estimator=clf1,n_estimators=130,random_state=0)
clf5=AdaBoostClassifier(base_estimator=clf1,n_estimators=130,random_state=0)
weights = [0.3,0.3,0.3]
clf = VotingClassifier(estimators=[('rf',clf3), 
                                   ('cb',clf4), 
                                   ('gb', clf5)
                                  ], weights = weights, voting ='soft')
#clf=AdaBoostClassifier(base_estimator=clf3,n_estimators=5,random_state=0)
#clf=BaggingClassifier(n_estimators=9,base_estimator=clf0,random_state=0)

# scores = cross_val_score(clf, X, Y, cv = 4, scoring = 'accuracy')
# print(scores)
# print("Accuracy: %0.4f (+/- %0.4f)" % (scores.mean(), scores.std() * 2))

## clf.fit(X,Y)

# estimators = [
#     ('rf', RandomForestClassifier(max_depth=20, n_estimators=151, max_features=rfmf, max_samples = 0.7, random_state = 0)),
#     ('ab', AdaBoostClassifier(DecisionTreeClassifier(max_depth=3),algorithm="SAMME",n_estimators=351))
#     #('nn', MLPClassifier(random_state=1, max_iter=500, solver='adam')),
#     #('cb', CatBoostClassifier(depth = 15, num_trees=201, random_state = 0, early_stopping_rounds = 20, verbose=50)),
#  ]
# estimators1 = [
#     ('gb',GradientBoostingClassifier(max_depth=15, n_estimators=201, random_state = 0)),
#     #('xg', XGBClassifier(max_depth=15, n_estimators=201,  random_state = 0, verbosity = 1, use_label_encoder=False))
#     ('rf', RandomForestClassifier(max_depth=20, n_estimators=201, random_state = 0))
# ]
# clf2 = StackingClassifier(
#      estimators=estimators1, final_estimator=LogisticRegression()
#  )
# clf = StackingClassifier(
#      estimators=estimators, final_estimator=clf2
#  )
# scores = cross_val_score(clf, X, Y, cv = 4, scoring = 'accuracy')
# print(scores)
# print("Accuracy: %0.3f (+/- %0.3f)" % (scores.mean(), scores.std() * 2))
# clf.fit(X,Y)

# model = CatBoostClassifier(loss_function='Logloss', eval_metric='Accuracy', random_state=0)
# grid = {'learning_rate': [0.03, 0.1],
#         'depth': [6, 10, 15],
#         'l2_leaf_reg': [3, 5, 7, 9, 11],
#         'iterations': [200, 300, 400]
#        }

# grid_search_result = model.grid_search(grid, 
#                                        X=X, 
#                                        y=Y, 
#                                        plot=True)
# rfc=RandomForestClassifier(random_state=0)

# param_grid = { 
#     'n_estimators': [501],
#     'max_features': [rfmf],
#     'max_depth' : [14],
#     'criterion' :['entropy'],
#     'max_samples':[0.5,0.7,0.9]
# }

# CV_rfc = GridSearchCV(estimator=rfc, param_grid=param_grid, cv= 5, verbose = 2, n_jobs = 4)
# CV_rfc.fit(X, Y)

# param_grid = { 
#         'n_estimators':[13,17,21]
# }
# model = BaggingClassifier(base_estimator=clf0,random_state=0)
# CV_rfc = GridSearchCV(estimator=model, param_grid=param_grid, cv= 5, verbose = 2, n_jobs = 4)
# CV_rfc.fit(X, Y)

# def rc(num_leaves,max_depth,lambda_l2,lambda_l1,min_child_samples, lr, num_leaves1,max_depth1,lambda_l21,min_child_samples1, lr1):
#     params = {
#         "objective" : "binary",
#         "metric" : "auc", 
#         'is_unbalance': True,
#         "num_leaves" : int(num_leaves),
#         "max_depth" : int(max_depth),
#         "reg_alpha" : lambda_l2,
#         "reg_lambda" : lambda_l1,
#         "n_jobs" : 20,
#         "min_child_samples" : int(min_child_samples),
#         "learning_rate" : lr,
#         "subsample_freq" : 5,
#         "bagging_seed" : 42,
#         "verbosity" : -1,
#         "force_row_wise" : True,
#         "random_state" : 0
#     }
#     params1 = {
#         "eval_metric" : "AUC", 
#         #"num_leaves" : int(num_leaves1),
#         "max_depth" : int(max_depth1),
#         "l2_leaf_reg" : lambda_l21,
#         "min_child_samples" : int(min_child_samples1),
#         "learning_rate" : lr1,
#         "verbose" : False,
#         "random_state" : 0,
#         "iterations" : 250
#     }
#     cll = LGBMClassifier(**params)
#     clc = CatBoostClassifier(**params1)
# #     clg3=AdaBoostClassifier(base_estimator=cll,n_estimators=100,random_state=0)
#     clg4=AdaBoostClassifier(base_estimator=clc,n_estimators=100,random_state=0)
#     clg5=AdaBoostClassifier(base_estimator=clc,n_estimators=100,random_state=0)
#     weights = [0.3,0.3,0.3]
#     clg = VotingClassifier(estimators=[ ('lg',cll), 
#                                         ('cb',clg4),
#                                         ('cb1', clg5)
#                                   ], weights = weights, voting ='soft')
#     return clc

# params = {'lambda_l1': 0.16570937758584275, 'lambda_l2': 0.40140411614102267, 'lambda_l21': 4.0, 'lr': 0.1292823676954809, 
#           'lr1': 0.0650733105002455, 'max_depth': 19.82527142156306, 'max_depth1': 6.2, 'min_child_samples': 6885.727758041044, 
#           'min_child_samples1': 18, 'num_leaves': 53.0, 'num_leaves1': 65}

params = {'max_depth': 8, 'num_leaves': 80, 'min_child_samples': 200, 'scale_pos_weight': 1.0, 'subsample': 0.6303896252329312, 'colsample_bytree': 0.6, 
          'reg_alpha': 3.3388399958654817, 'n_jobs': 8, 'boosting_type': 'gbdt', 'objective': 'binary', 
          'learning_rate': 0.07677467484724665, 'max_bin': 100, 'random_state': 0, 'verbose': -1}

def rc(values):
    params = {'max_depth': values[0],
              'num_leaves': values[1],
              'min_child_samples': values[2],
              'scale_pos_weight': values[7],
              'subsample': values[3],
              'colsample_bytree': values[4],
              'reg_alpha': values[6],
              'n_jobs': 8,
              'boosting_type': 'gbdt',
              'objective': 'binary',
              'learning_rate': values[5],
              'max_bin': 100,
              #              'min_child_weight': 0,
              #              'min_split_gain': 0,
              #              'subsample_freq': 1,
              'random_state' : 0,
              'verbose' : -1
              }
    model = LGBMClassifier(
        **params
    )
    return model

#clf = rc(list(params.values()))
#clf1 = LGBMClassifier(random_state = 0, verbose=-1, num_leaves = 45, reg_alpha = 1, reg_lambda = 0.990,
#                   learning_rate = 0.09116, min_child_samples = 15)
# clf2 = LGBMClassifier(random_state = 0, verbose=-1, num_leaves = 60, reg_alpha = 0.027870894746092358, reg_lambda = 0.009357684241550774,
#                    learning_rate = 0.09116640670855684, min_child_samples = 25)
# clf3 = LGBMClassifier(random_state = 0, verbose=-1, num_leaves = 75, reg_alpha = 0.027870894746092358, reg_lambda = 0.009357684241550774,
#                    learning_rate = 0.09116640670855684, min_child_samples = 35)
# clf4 = LGBMClassifier(random_state = 0, verbose=-1, num_leaves = 90, reg_alpha = 0.027870894746092358, reg_lambda = 0.009357684241550774,
#                    learning_rate = 0.09116640670855684, min_child_samples = 45)
#for l2 in [3.022,3.023,3.024,3.025,3.026,3.027,3.028,3.029, 3.030]:
clf = CatBoostClassifier(iterations = 1100, verbose=False, random_state=0, l2_leaf_reg=3.0)
#clf = BaggingClassifier(n_estimators=100,base_estimator=clf,random_state=0)
#clf = AdaBoostClassifier(base_estimator=clf, n_estimators=10, random_state=0)
#clf = RandomForestClassifier(base_estimator=clf, n_estimators=101, random_state = 0)
#clf = VotingClassifier(estimators=[('l1',clf1), 
#                                   ('l2',clf2), 
#                                    ('l3',clf3),
#                                    ('l4',clf4)
#                                  ], voting ='soft')
scores = 1+cross_val_score(clf, X, Y, cv = 5, scoring = 'neg_log_loss')
print(scores)
print("Accuracy: %0.4f (+/- %0.4f)" % (scores.mean(), scores.std() * 2))
clf.fit(X,Y)

[0.56057099 0.56385565 0.57041415 0.56208754 0.565843  ]
Accuracy: 0.5646 (+/- 0.0068)

BaggingClassifier(base_estimator=<catboost.core.CatBoostClassifier object at 0x7f5073d1f090>,
                  n_estimators=100, random_state=0)

In [229]:
# from bayes_opt import BayesianOptimization

# def lgb_eval(lambda_l2,lambda_l1,min_child_samples, lr,num_leaves=50, max_depth=-1):
#     params = {
#         #'is_unbalance': True,
#         "num_leaves" : int(num_leaves),
#         "max_depth" : int(max_depth),
#         "reg_alpha" : lambda_l2,
#         "reg_lambda" : lambda_l1,
#         "n_jobs" : 20,
#         "min_child_samples" : int(min_child_samples),
#         "learning_rate" : lr,
#         #"verbosity" : -1,
#         #"force_row_wise" : True,
#         "random_state" : 0
#     }
#     cll = LGBMClassifier(**params)
#     scores = 1+cross_val_score(cll, X, Y, cv = 4, scoring = 'neg_log_loss')
#     return scores.mean()


# lgbBO = BayesianOptimization(lgb_eval, {
#                                                 'lambda_l2': (0.0, 0.05),
#                                                 'lambda_l1': (0.0, 0.05),
#                                                 'min_child_samples': (15, 41),
#                                                 'lr' : (0.09, 0.11),
#                                                 #'max_depth': (5, 75),
#                                                 'num_leaves': (45, 65)
#                                                 })

# lgbBO.maximize(n_iter=100, init_points=5)
# print(lgbBO.max)

# from hpsklearn import HyperoptEstimator
# from hpsklearn import any_classifier, xgboost_classification
# from hpsklearn import any_preprocessing
# from hyperopt import tpe

# X_train, X_test, y_train, y_test = \
# train_test_split(X, Y, random_state=1, test_size=0.33)

# ############################################################################
# # Build and fit a regressor
# # =========================

# ...
# # define search
# # model = HyperoptEstimator(classifier=xgboost_classification('cla'), preprocessing=any_preprocessing('pre'), algo=tpe.suggest)
# # model.fit(X_train, y_train)
# # acc = model.score(X_test, y_test)
# # print("Accuracy: %.3f" % acc)
# # # summarize the best model
# # print(model.best_model())

# from catboost import Pool, cv

# import hyperopt

# def hyperopt_objective(params):
#     model = CatBoostClassifier(
#         l2_leaf_reg=4,
#         learning_rate=0.0650733105002455,
#         iterations=500,
#         eval_metric='Accuracy',
#         random_seed=42,
#         verbose=False,
#         loss_function='Logloss',
#         min_child_samples = 18,
#         max_depth = params['max_depth']
#     )
    
#     cv_data = cv(
#         Pool(X, Y),
#         model.get_params()
#     )
#     best_accuracy = np.max(cv_data['test-Accuracy-mean'])
    
#     return 1 - best_accuracy # as hyperopt minimise

# # def hyperopt_objective(params):
# #     model = LGBMClassifier(
# #         reg_lambda=params['reg_lambda'],
# #         reg_alpha=params['reg_alpha'],
# #         num_leaves=int(params['num_leaves'])+1,
# #         learning_rate=params['learning_rate'],
# #         metric='auc',
# #         random_seed=0,
# #         verbose=-1
# #     )
    
# #     best_accuracy = np.max(cross_val_score(model, X, Y, cv = 4, scoring = 'roc_auc'))
    
# #     return 1 - best_accuracy # as hyperopt minimise

# from numpy.random import RandomState

# params_space = {
# #    'num_leaves': hyperopt.hp.qloguniform('num_leaves', 0, 2.5, 1)
#     'max_depth': hyperopt.hp.qloguniform('max_depth', 0, 1.2, 1)
# #     'learning_rate': hyperopt.hp.uniform('learning_rate', 1e-4, 5e-1),
# #     'reg_lambda': hyperopt.hp.uniform('reg_lambda', 1e-4, 5e-1),
# #     'reg_alpha': hyperopt.hp.uniform('reg_alpha', 1e-4, 5e-1)
# #     'min_child_samples' : hyperopt.hp.qloguniform('min_child_samples', 0, 4, 1)
# }

# trials = hyperopt.Trials()

# best = hyperopt.fmin(
#     hyperopt_objective,
#     space=params_space,
#     algo=hyperopt.tpe.suggest,
#     max_evals=50,
#     trials=trials,
#     rstate=RandomState(123)
# )
# print(best)

# import evalml
# from evalml import AutoMLSearch
# from evalml.model_family import ModelFamily
# X_train, X_holdout, y_train, y_holdout = evalml.preprocessing.split_data(X, Y, problem_type='binary', test_size=.2)
# automl = AutoMLSearch(X_train=X_train, y_train=y_train, problem_type='binary', objective='auc', 
#                       allowed_model_families = [ModelFamily.RANDOM_FOREST, ModelFamily.XGBOOST, ModelFamily.CATBOOST, ModelFamily.LIGHTGBM],
#                       max_batches=50, ensembling=True)
# automl.search(data_checks='disabled')




# import h2o
# from h2o.estimators import H2OGradientBoostingEstimator
# h2o.init()
# Y_a = Y.astype(int)
# X_a = pd.DataFrame(X)
# X_a['target'] = Y_a
# data_train = X_a

# data_train_h2o=h2o.H2OFrame(data_train)

# data_train_h2o['target']=data_train_h2o['target'].asfactor() 

# # Build and train the model:
# model = H2OGradientBoostingEstimator(## more trees is better if the learning rate is small enough 
#   ## here, use "more than enough" trees - we have early stopping
#   ntrees = 10000,                                                            

#   ## smaller learning rate is better (this is a good value for most datasets, but see below for annealing)
#   learn_rate = 0.01,                                                         

#   ## early stopping once the validation AUC doesn't improve by at least 0.01% for 5 consecutive scoring events
#   stopping_rounds = 5, stopping_tolerance = 1e-4, stopping_metric = "log_loss", 

#   ## sample 80% of rows per tree
#   sample_rate = 0.8,                                                       

#   ## sample 80% of columns per split
#   col_sample_rate = 0.8,                                                   

#   ## fix a random number generator seed for reproducibility
#   seed = 1234,                                                             

#   ## score every 10 trees to make early stopping reproducible (it depends on the scoring interval)
#   score_tree_interval = 10, nfolds=5, max_depth=3)   ## Instantiating the class

# model.train(x=data_train_h2o.names[:-1],y=data_train_h2o.names[-1], training_frame=data_train_h2o)

# # Eval performance:
# model.model_performance()

# # Extract feature interactions:
# model.feature_interaction()

Checking whether there is an H2O instance running at http://localhost:54321 . connected.

--------------------------  ------------------------------------------------------------------
H2O_cluster_uptime:         25 mins 42 secs
H2O_cluster_timezone:       Asia/Kolkata
H2O_data_parsing_timezone:  UTC
H2O_cluster_version:        3.32.0.3
H2O_cluster_version_age:    24 days
H2O_cluster_name:           H2O_from_python_anish_l22tmy
H2O_cluster_total_nodes:    1
H2O_cluster_free_memory:    5.792 Gb
H2O_cluster_total_cores:    8
H2O_cluster_allowed_cores:  8
H2O_cluster_status:         locked, healthy
H2O_connection_url:         http://localhost:54321
H2O_connection_proxy:       {"http": null, "https": null}
H2O_internal_security:      False
H2O_API_Extensions:         Amazon S3, XGBoost, Algos, AutoML, Core V3, TargetEncoder, Core V4
Python_version:             3.7.4 final
--------------------------  ------------------------------------------------------------------

Parse progress: |█████████████████████████████████████████████████████████| 100%
gbm Model Build progress: |███████████████████████████████████████████████| 100%

Interaction Depth 0:

,,interaction,gain,fscore,wfscore,average_wfscore,average_gain,expected_gain,gain_rank,fscore_rank,wfscore_rank,avg_wfscore_rank,avg_gain_rank,expected_gain_rank,average_rank,average_tree_index,average_tree_depth
0,,0,92005.562742,1138.0,587.512334,0.516267,80.848473,70912.697202,1.0,1.0,2.0,49.0,51.0,1.0,17.500000,685.941125,1.357645
1,,1,37124.743713,393.0,146.095702,0.371745,94.464997,27740.037603,5.0,7.0,8.0,85.0,36.0,5.0,24.333333,795.053435,1.600509
2,,2,22677.064385,440.0,237.859729,0.540590,51.538783,17898.328603,7.0,5.0,5.0,46.0,96.0,7.0,27.666667,982.290909,1.120455
3,,3,51167.649911,688.0,294.333477,0.427810,74.371584,32314.057552,3.0,3.0,3.0,70.0,53.0,3.0,22.500000,656.151163,1.335756
4,,4,15729.151815,163.0,54.283067,0.333025,96.497864,12230.181731,11.0,17.0,20.0,103.0,34.0,10.0,32.500000,1023.190184,1.595092
5,,5,15283.203488,279.0,73.811698,0.264558,54.778507,10156.385458,13.0,10.0,17.0,127.0,90.0,16.0,45.500000,898.007168,1.666667
6,,6,640.381342,27.0,4.429756,0.164065,23.717827,388.751784,130.0,102.0,139.0,158.0,144.0,129.0,133.666667,1500.740741,1.703704
7,,7,17654.585296,306.0,125.513630,0.410175,57.694723,11944.814570,8.0,8.0,9.0,75.0,81.0,11.0,32.000000,830.656863,1.343137
8,,8,3246.769270,116.0,41.606087,0.358673,27.989390,1475.906110,45.0,26.0,30.0,91.0,135.0,77.0,67.333333,1048.232759,1.310345
9,,9,12643.176238,124.0,45.225444,0.364721,101.961099,10659.938556,16.0,24.0,26.0,88.0,29.0,14.0,32.833333,1016.290323,1.564516
10,,200,3963.682859,67.0,42.370186,0.632391,59.159446,2750.503906,40.0,47.0,29.0,27.0,80.0,47.0,45.000000,1110.388060,1.119403
11,,201,2428.802090,38.0,25.056036,0.659369,63.915844,2222.942146,66.0,80.0,50.0,23.0,69.0,56.0,57.333333,1552.552632,1.026316
12,,202,1064.386152,19.0,6.982259,0.367487,56.020324,849.080047,113.0,122.0,116.0,86.0,88.0,106.0,105.166667,1396.315789,1.631579
13,,203,1030.103248,31.0,5.183759,0.167218,33.229137,469.201345,115.0,95.0,128.0,157.0,124.0,122.0,123.500000,1280.419355,1.548387
14,,204,991.765533,9.0,4.541901,0.504656,110.196170,846.468843,119.0,162.0,137.0,54.0,21.0,107.0,100.000000,1239.111111,1.666667
15,,205,51.325470,9.0,0.657940,0.073104,5.702830,4.054038,174.0,163.0,179.0,186.0,167.0,174.0,173.833333,1488.444444,1.777778
16,,206,2095.618727,37.0,11.138973,0.301053,56.638344,1633.662810,72.0,82.0,91.0,115.0,85.0,72.0,86.166667,1496.513514,1.756757
17,,207,1181.935571,33.0,15.092024,0.457334,35.816229,930.399672,108.0,91.0,69.0,65.0,119.0,104.0,92.666667,1248.878788,1.424242
18,,208,824.602314,10.0,4.990913,0.499091,82.460231,650.596267,121.0,159.0,132.0,55.0,49.0,116.0,105.333333,1519.800000,1.700000
19,,209,70.392685,26.0,18.659166,0.717660,2.707411,13.105391,170.0,104.0,59.0,18.0,174.0,168.0,115.500000,1370.653846,0.653846

See the whole table with table.as_data_frame()

Interaction Depth 1:

,,interaction,gain,fscore,wfscore,average_wfscore,average_gain,expected_gain,gain_rank,fscore_rank,wfscore_rank,avg_wfscore_rank,avg_gain_rank,expected_gain_rank,average_rank,average_tree_index,average_tree_depth
0,,117|133,355.320801,1.0,0.782129,0.782129,355.320801,277.906682,1394.0,1522.0,1098.0,396.0,365.0,968.0,957.166667,1580.000000,2.000000
1,,196|7,101.647240,2.0,0.188879,0.094440,50.823620,12.189242,2680.0,910.0,2103.0,2122.0,2752.0,2262.0,2138.166667,1099.500000,2.000000
2,,117|131,711.618042,2.0,1.539016,0.769508,355.809021,547.723118,615.0,911.0,445.0,447.0,354.0,379.0,525.166667,1246.500000,2.000000
3,,117|130,708.970337,2.0,1.292009,0.646005,354.485168,458.990281,622.0,912.0,521.0,682.0,394.0,441.0,595.333333,822.500000,2.000000
4,,196|2,158.987130,2.0,0.089499,0.044750,79.493565,11.453444,2450.0,913.0,2333.0,2418.0,2590.0,2275.0,2163.166667,971.000000,2.000000
5,,196|4,9.026623,1.0,0.002524,0.002524,9.026623,0.022785,3199.0,1523.0,3343.0,3328.0,3159.0,3300.0,2975.333333,871.000000,2.000000
6,,126|179,151.111765,1.0,0.026540,0.026540,151.111765,4.010467,2511.0,1524.0,2717.0,2604.0,2205.0,2546.0,2351.166667,1539.000000,2.000000
7,,117|138,348.660767,1.0,0.691187,0.691187,348.660767,240.989822,1548.0,1525.0,1318.0,613.0,538.0,1165.0,1117.833333,1683.000000,2.000000
8,,180|221,203.234428,5.0,0.042478,0.008496,40.646886,1.956757,2271.0,358.0,2577.0,2968.0,2829.0,2698.0,2283.500000,779.800000,2.000000
9,,180|222,620.885881,9.0,0.112866,0.012541,68.987320,7.838234,759.0,199.0,2256.0,2841.0,2616.0,2373.0,1840.666667,397.888889,2.000000
10,,206|8,264.278330,3.0,0.708712,0.236237,88.092777,88.447833,2037.0,620.0,1283.0,1661.0,2550.0,1640.0,1631.833333,1095.666667,1.333333
11,,206|5,284.410480,2.0,0.093178,0.046589,142.205240,8.882990,1996.0,914.0,2308.0,2401.0,2277.0,2332.0,2038.000000,1917.000000,2.000000
12,,206|3,650.110724,3.0,1.230852,0.410284,216.703575,380.581901,728.0,621.0,540.0,1105.0,1622.0,500.0,852.666667,1726.000000,1.666667
13,,180|219,692.627243,2.0,0.327347,0.163674,346.313622,113.277779,660.0,915.0,1868.0,1880.0,587.0,1561.0,1245.166667,1274.000000,2.000000
14,,180|215,485.434357,7.0,0.082071,0.011724,69.347765,5.676978,921.0,254.0,2369.0,2876.0,2613.0,2465.0,1916.333333,559.000000,2.000000
15,,219|9,278.311040,3.0,0.589067,0.196356,92.770347,80.005242,2005.0,622.0,1437.0,1783.0,2534.0,1708.0,1681.500000,1043.333333,2.000000
16,,219|8,1.929205,1.0,0.002524,0.002524,1.929205,0.004870,3367.0,1526.0,3340.0,3324.0,3364.0,3379.0,3050.000000,1738.000000,2.000000
17,,219|7,845.729401,3.0,1.578033,0.526011,281.909800,508.857678,502.0,623.0,432.0,854.0,1142.0,398.0,658.500000,1492.666667,1.666667
18,,219|5,2868.321358,13.0,1.851291,0.142407,220.640104,471.316698,113.0,122.0,369.0,1958.0,1584.0,428.0,762.333333,691.230769,2.000000
19,,219|4,622.486679,2.0,0.111496,0.055748,311.243340,34.865395,758.0,916.0,2263.0,2341.0,986.0,2015.0,1546.500000,1802.500000,2.000000

See the whole table with table.as_data_frame()

Interaction Depth 2:

,,interaction,gain,fscore,wfscore,average_wfscore,average_gain,expected_gain,gain_rank,fscore_rank,wfscore_rank,avg_wfscore_rank,avg_gain_rank,expected_gain_rank,average_rank,average_tree_index,average_tree_depth
0,,135|51|69,309.471191,1.0,0.678206,0.678206,309.471191,209.885110,2167.0,1038.0,836.0,489.0,1633.0,845.0,1168.000000,1025.000000,2.0
1,,109|149|53,375.222115,1.0,0.022068,0.022068,375.222115,8.280540,830.0,1039.0,3341.0,3239.0,212.0,2758.0,1903.166667,1290.000000,2.0
2,,135|51|60,56.381146,1.0,0.018535,0.018535,56.381146,1.044999,3540.0,1040.0,3421.0,3335.0,3449.0,3568.0,3058.833333,1055.000000,2.0
3,,135|51|65,52.534754,1.0,0.017309,0.017309,52.534754,0.909299,3585.0,1041.0,3450.0,3361.0,3508.0,3601.0,3091.000000,1124.000000,2.0
4,,0|106|137,996.831543,3.0,0.792875,0.264292,332.277181,263.417962,189.0,282.0,332.0,1606.0,1363.0,534.0,717.666667,1338.000000,2.0
5,,111|2|7,363.404538,2.0,0.017236,0.008618,181.702269,1.934459,1058.0,476.0,3455.0,3686.0,2590.0,3325.0,2431.666667,1533.000000,2.0
6,,111|2|8,713.430298,3.0,0.855113,0.285038,237.810099,203.070383,310.0,283.0,259.0,1525.0,2091.0,893.0,893.500000,1170.333333,2.0
7,,109|137|65,207.399447,1.0,0.024232,0.024232,207.399447,5.025690,2687.0,1042.0,3276.0,3178.0,2377.0,2984.0,2590.666667,1119.000000,2.0
8,,116|138|51,312.474365,1.0,0.664503,0.664503,312.474365,207.640179,2146.0,1043.0,863.0,511.0,1617.0,859.0,1173.166667,1184.000000,2.0
9,,135|51|54,46.835847,1.0,0.002957,0.002957,46.835847,0.138488,3665.0,1044.0,4273.0,4245.0,3610.0,3994.0,3471.833333,1842.000000,2.0
10,,131|178|179,368.633179,1.0,0.754652,0.754652,368.633179,278.189640,932.0,1045.0,581.0,267.0,318.0,369.0,585.333333,865.000000,2.0
11,,109|137|74,207.547058,1.0,0.373143,0.373143,207.547058,77.444719,2685.0,1046.0,1569.0,1211.0,2375.0,1653.0,1756.500000,1119.000000,2.0
12,,191|194|219,362.842636,1.0,0.050700,0.050700,362.842636,18.395960,1075.0,1047.0,2893.0,2786.0,467.0,2448.0,1786.000000,2005.000000,2.0
13,,216|65|80,359.827881,1.0,0.602697,0.602697,359.827881,216.867275,1172.0,1048.0,995.0,624.0,568.0,808.0,869.166667,1581.000000,2.0
14,,110|191|62,346.809723,1.0,0.504471,0.504471,346.809723,174.955576,1620.0,1049.0,1202.0,822.0,1039.0,1060.0,1132.000000,878.000000,2.0
15,,185|8|86,245.615967,1.0,0.513703,0.513703,245.615967,126.173560,2441.0,1050.0,1174.0,797.0,2027.0,1282.0,1461.833333,1228.000000,2.0
16,,158|2|2,1053.961945,3.0,1.396870,0.465623,351.320648,492.730640,174.0,284.0,132.0,895.0,863.0,110.0,409.666667,1278.333333,2.0
17,,137|222|66,7.846299,1.0,0.001442,0.001442,7.846299,0.011317,4174.0,1051.0,4449.0,4448.0,4111.0,4386.0,3769.833333,1365.000000,2.0
18,,144|190|194,363.857300,1.0,0.795327,0.795327,363.857300,289.385417,1042.0,1052.0,316.0,29.0,434.0,264.0,522.833333,1833.000000,2.0
19,,127|22|8,3.808212,1.0,0.004688,0.004688,3.808212,0.017852,4351.0,1053.0,4083.0,4013.0,4326.0,4335.0,3693.500000,974.000000,2.0

See the whole table with table.as_data_frame()

Leaf Statistics:

,,interaction,sum_leaf_values_left,sum_leaf_values_right,sum_leaf_covers_left,sum_leaf_covers_right
0,,135|51|69,-0.000290,0.000892,5995.0,3409.0
1,,109|149|53,0.002557,0.020762,287.0,19.0
2,,135|51|60,0.007447,-0.006835,33.0,224.0
3,,135|51|65,-0.007551,0.001032,169.0,71.0
4,,0|106|137,-0.002523,-0.026629,10706.0,288.0
5,,111|2|7,-0.004571,0.001380,196.0,43.0
6,,111|2|8,-0.002630,-0.001681,8887.0,2970.0
7,,109|137|65,-0.006765,-0.000100,155.0,181.0
8,,116|138|51,0.000422,-0.002227,8249.0,965.0
9,,135|51|54,-0.013654,0.000588,31.0,10.0
10,,131|178|179,0.000065,-0.007105,10330.0,134.0
11,,109|137|74,0.000169,0.001956,4288.0,886.0
12,,191|194|219,-0.001259,-0.007537,572.0,131.0
13,,216|65|80,-0.000251,0.001968,6831.0,1526.0
14,,110|191|62,-0.000289,0.014033,6970.0,25.0
15,,185|8|86,-0.000460,-0.014524,7107.0,16.0
16,,158|2|2,0.002087,-0.024708,19153.0,216.0
17,,137|222|66,0.019569,0.009243,10.0,10.0
18,,144|190|194,-0.000365,0.001195,9635.0,1393.0
19,,127|22|8,-0.013332,-0.004161,44.0,21.0

See the whole table with table.as_data_frame()

0 Split Value Histogram:

      split_value  count
0        0.004320      1
1        0.004356     19
2        0.004363      2
3        0.004388      1
4        0.004657      4
5        0.005096     12
6        0.005873      6
7        0.005906      2
8        0.006337     65
9        0.012673    106
10       0.012970     33
11       0.012994      2
12       0.012995      2
13       0.013129      1
14       0.013298     28
15       0.013500      1
16       0.013821      1
17       0.014411     10
18       0.020790      1
19       0.021414      1

See the whole table with table.as_data_frame()

1 Split Value Histogram:

      split_value  count
0        0.000107      1
1        0.003348      1
2        0.005781      1
3        0.006648      1
4        0.011161      1
5        0.011563      1
6        0.011719      3
7        0.014778      1
8        0.014844      2
9        0.016827     12
10       0.018311     99
11       0.020573      1
12       0.023438     10
13       0.026200      1
14       0.027344      1
15       0.027466      2
16       0.027755      1
17       0.029018      2
18       0.029380      1
19       0.029687      3

See the whole table with table.as_data_frame()

2 Split Value Histogram:

      split_value  count
0             5.5      3
1             6.5      1
2             8.5      1
3             9.5     82
4            11.5      2
5            12.5      1
6            18.5      1
7            19.5     25
8            20.5      7
9            21.5      3
10           22.5      1
11           23.5      1
12           24.5      1
13           27.0      1
14           28.5      1
15           37.5      1
16           39.5      9
17           49.5      2
18           54.5      1
19           65.5      2

See the whole table with table.as_data_frame()

3 Split Value Histogram:

      split_value  count
0        0.014995      1
1        0.067344      1
2        0.089692      1
3        0.089792      5
4        0.179585      1
5        0.224481      1
6        0.269377      1
7        0.314273      2
8        0.358769      1
9        1.165999      1
10       1.167301      1
11       1.212198      3
12       1.436679      1
13       1.616263      2
14       2.559084      2
15      14.262966      1
16      22.986856     95
17      40.444637      1
18      41.477974      1
19      42.825180      1

See the whole table with table.as_data_frame()

4 Split Value Histogram:

      split_value  count
0             6.5     24
1            10.5      1
2            11.5      1
3            13.5     29
4            20.5      4
5            22.5      1
6            26.5      1
7            27.5     10
8            32.5      1
9            34.5      4
10           36.5      1
11           37.5      1
12           40.5      1
13           41.5      2
14           45.5      1
15           46.5      1
16           48.5      4
17           55.5     14
18           56.5      1
19           62.5      2

See the whole table with table.as_data_frame()

5 Split Value Histogram:

      split_value  count
0        0.003906      3
1        0.005208      1
2        0.005859      7
3        0.006348      4
4        0.007812      6
5        0.008789      3
6        0.009766      2
7        0.011719      5
8        0.027344      3
9        0.029297      2
10       0.031250      1
11       0.035156      2
12       0.050781     11
13       0.056641      2
14       0.058594      1
15       0.062500      3
16       0.063477      3
17       0.066406      4
18       0.067708      1
19       0.078125      1

See the whole table with table.as_data_frame()

6 Split Value Histogram:

     split_value  count
0            0.5     27

7 Split Value Histogram:

      split_value  count
0             1.5      1
1             2.5      1
2             3.5      1
3             4.5      1
4             6.5      1
5             7.5     39
6             9.5     16
7            10.5      1
8            11.5      1
9            14.5     10
10           15.5      4
11           17.5      6
12           18.5      1
13           19.5     19
14           20.5      2
15           21.5      3
16           22.5      1
17           24.5      5
18           25.5      3
19           26.5      1

See the whole table with table.as_data_frame()

8 Split Value Histogram:

      split_value  count
0           112.5      1
1           116.5      1
2           122.5      1
3           123.5      1
4           137.5      1
5           170.5      1
6           233.5      1
7           316.5     22
8           380.0      1
9           443.5      1
10          457.5      1
11          495.5      1
12          567.5      1
13          632.5      2
14          846.5      1
15          894.0      1
16          954.5      1
17         1015.5      1
18         1166.5      2
19         1201.5      1

See the whole table with table.as_data_frame()

9 Split Value Histogram:

      split_value  count
0             2.5      6
1             5.5     13
2             8.5     14
3            11.5      9
4            12.5      1
5            14.5      2
6            17.5     11
7            20.5      5
8            23.5      5
9            25.0      1
10           29.5      4
11           32.5      3
12           33.5      1
13           34.5      1
14           35.5     14
15           37.5      1
16           38.5      2
17           39.5      1
18           41.5      4
19           42.5      1

See the whole table with table.as_data_frame()

200 Split Value Histogram:

     split_value  count
0            0.5     20
1            1.5     45
2            4.5      2

201 Split Value Histogram:

     split_value  count
0            0.5     31
1            1.5      6
2            2.5      1

202 Split Value Histogram:

     split_value  count
0            0.5      8
1            1.5      8
2            2.5      3

203 Split Value Histogram:

     split_value  count
0            0.5     27
1            1.5      4

204 Split Value Histogram:

     split_value  count
0            0.5      9

205 Split Value Histogram:

     split_value  count
0            0.5      8
1            1.5      1

206 Split Value Histogram:

     split_value  count
0            0.5     33
1            1.5      2
2            2.5      2

207 Split Value Histogram:

     split_value  count
0            0.5     26
1            1.5      1
2            2.5      6

208 Split Value Histogram:

     split_value  count
0            0.5      5
1            1.5      5

209 Split Value Histogram:

     split_value  count
0            0.5      8
1            1.5      1
2            2.5     17

210 Split Value Histogram:

     split_value  count
0            0.5      5
1            1.5     17

211 Split Value Histogram:

     split_value  count
0            0.5      3
1            1.5     13
2            3.5      1

212 Split Value Histogram:

     split_value  count
0            0.5     32
1            1.5     38

213 Split Value Histogram:

     split_value  count
0            0.5     12
1            1.5      3
2            2.5      1
3            4.5      2
4            5.5      9

214 Split Value Histogram:

     split_value  count
0            0.5     50
1            1.5      4

215 Split Value Histogram:

      split_value  count
0             2.5      2
1             4.5      2
2            12.5      1
3            14.0      1
4            15.5      2
5            18.5     16
6            20.5      4
7            26.5      1
8            27.0      1
9            33.5      1
10           36.5      1
11           37.5     18
12           38.5      2
13           39.5      3
14           49.5      2
15           50.5      1
16           52.5      2
17           55.5      1
18           56.5     36
19           59.5      1

See the whole table with table.as_data_frame()

216 Split Value Histogram:

      split_value  count
0             1.5      5
1             2.5     14
2             3.0     40
3             3.5      2
4             4.5      3
5             5.0     30
6             5.5     79
7             7.0      7
8             8.5      3
9             9.5     60
10           10.5      2
11           11.0     23
12           13.0      1
13           13.5      8
14           14.5      1
15           17.0     22
16           17.5     18
17           20.5      2
18           21.0      1
19           21.5      2

See the whole table with table.as_data_frame()

217 Split Value Histogram:

      split_value  count
0             0.5      1
1             2.0      8
2             2.5      3
3             4.0      1
4             4.5     38
5             6.0      2
6             6.5     12
7             8.0      4
8             8.5     13
9             9.5      2
10           10.0      2
11           10.5      1
12           11.5      1
13           14.0      1
14           14.5      2
15           16.5      4
16           29.5      1
17           30.0      1
18           33.5      1
19           34.0      4

See the whole table with table.as_data_frame()

218 Split Value Histogram:

      split_value  count
0        0.466797      1
1        0.468750      1
2        0.470703      1
3        0.481329      1
4        0.485351      1
5        0.747070      1
6        0.784890      1
7        0.909180      1
8        0.910156      1
9        0.912109      1
10       0.915704      1
11       0.926758      1
12       0.933557      1
13       0.944991      1
14       0.947266      2
15       0.955078      1
16       0.966797      1
17       0.976562      1
18       0.980469      2
19       0.981529      8

See the whole table with table.as_data_frame()

219 Split Value Histogram:

      split_value  count
0        0.605469      4
1        0.742188      1
2        0.847656      1
3        0.870117      1
4        0.875000      4
5        0.896484      2
6        0.898438      2
7        0.902344      1
8        0.912109      2
9        0.914062      1
10       0.917074      1
11       0.917969      2
12       0.921875      1
13       0.931641      2
14       0.935547      1
15       0.937500      3
16       0.939453      2
17       0.947266      2
18       0.949219      1
19       0.951172      7

See the whole table with table.as_data_frame()

220 Split Value Histogram:

      split_value  count
0        0.470703      1
1        0.914062      2
2        0.935495      1
3        0.936767      1
4        0.937500      1
5        0.953252      1
6        0.957031      1
7        0.960938      1
8        0.975692      1
9        0.978516      1
10       0.980469      1
11       0.982706      1
12       0.984375      1
13       0.988281      5
14       0.990234      1
15       0.992188      2
16       0.994141      1
17       0.994148      1
18       0.996094      8
19       0.998047      3

221 Split Value Histogram:

      split_value  count
0        0.675781      1
1        0.689453      1
2        0.873047      1
3        0.888672      1
4        0.894531      1
5        0.916008      1
6        0.919975      1
7        0.919983      1
8        0.925781      2
9        0.927734      1
10       0.929688      3
11       0.931641      5
12       0.937500      1
13       0.945312      7
14       0.947266      1
15       0.949219      5
16       0.950195      1
17       0.953125      1
18       0.957031      1
19       0.964844      1

See the whole table with table.as_data_frame()

222 Split Value Histogram:

      split_value  count
0        0.707031      2
1        0.708008      3
2        0.708946      1
3        0.708954      1
4        0.710899      1
5        0.710938      1
6        0.718750      1
7        0.841261      1
8        0.863281      2
9        0.864117      1
10       0.864258      3
11       0.910156      1
12       0.913086      1
13       0.914062      3
14       0.929648      1
15       0.929688      2
16       0.930664      1
17       0.931641      2
18       0.933524      1
19       0.933554      1

See the whole table with table.as_data_frame()

223 Split Value Histogram:

      split_value  count
0        0.455078      1
1        0.474609      1
2        0.703125      1
3        0.906250      1
4        0.912109      2
5        0.921875      3
6        0.923828      2
7        0.925781      3
8        0.925785      1
9        0.925883      1
10       0.929688      1
11       0.929987      1
12       0.933478      1
13       0.934782      1
14       0.935547      1
15       0.941406      1
16       0.941803      1
17       0.943359      1
18       0.945293      1
19       0.945312      4

See the whole table with table.as_data_frame()

10 Split Value Histogram:

     split_value  count
0            0.5     12

11 Split Value Histogram:

     split_value  count
0            0.5      4

12 Split Value Histogram:

     split_value  count
0            0.5      1

13 Split Value Histogram:

     split_value  count
0            0.5      4

14 Split Value Histogram:

     split_value  count
0            0.5      1

15 Split Value Histogram:

     split_value  count
0            0.5      2

16 Split Value Histogram:

     split_value  count
0            0.5     13

17 Split Value Histogram:

     split_value  count
0            0.5      1

21 Split Value Histogram:

     split_value  count
0            0.5      5

22 Split Value Histogram:

     split_value  count
0            0.5     43

23 Split Value Histogram:

     split_value  count
0            0.5     45

26 Split Value Histogram:

     split_value  count
0            0.5     46

28 Split Value Histogram:

     split_value  count
0            0.5      1

31 Split Value Histogram:

     split_value  count
0            0.5     52

32 Split Value Histogram:

     split_value  count
0            0.5     50

33 Split Value Histogram:

     split_value  count
0            0.5     19

34 Split Value Histogram:

     split_value  count
0            0.5     15

35 Split Value Histogram:

     split_value  count
0            0.5      2

36 Split Value Histogram:

     split_value  count
0            0.5     16

37 Split Value Histogram:

     split_value  count
0            0.5      6

38 Split Value Histogram:

     split_value  count
0            0.5     13

39 Split Value Histogram:

     split_value  count
0            0.5      5

40 Split Value Histogram:

     split_value  count
0            0.5     32

41 Split Value Histogram:

     split_value  count
0            0.5      4

42 Split Value Histogram:

     split_value  count
0            0.5    108

43 Split Value Histogram:

     split_value  count
0            0.5      1

44 Split Value Histogram:

     split_value  count
0            0.5     11

46 Split Value Histogram:

     split_value  count
0            0.5      9

47 Split Value Histogram:

     split_value  count
0            0.5      3

49 Split Value Histogram:

     split_value  count
0            0.5     10

50 Split Value Histogram:

     split_value  count
0            0.5      9

51 Split Value Histogram:

      split_value  count
0             4.5     17
1             5.5     64
2             6.0     36
3             6.5      7
4             7.5      2
5             8.0     22
6             8.5     26
7             9.5      3
8            10.0     44
9            10.5     31
10           11.5      1
11           12.0     93
12           13.5      1
13           14.0      2
14           14.5      5
15           15.5      3
16           16.0     19
17           16.5      1
18           18.0      2
19           19.5      1

See the whole table with table.as_data_frame()

53 Split Value Histogram:

      split_value  count
0        0.007830      1
1        0.013702      1
2        0.015660      1
3        0.023490      1
4        0.030831      1
5        0.031320      1
6        0.035437      1
7        0.038391      1
8        0.054810      6
9        0.056109      1
10       0.058725      2
11       0.062640      1
12       0.064969      1
13       0.065087      1
14       0.066555      1
15       0.082215      7
16       0.086130      1
17       0.088594      1
18       0.090045      1
19       0.091547      4

See the whole table with table.as_data_frame()

54 Split Value Histogram:

      split_value  count
0        0.004851      1
1        0.005906      2
2        0.006142      1
3        0.006716      2
4        0.006885      1
5        0.007020      2
6        0.007661      1
7        0.007830      3
8        0.007864      1
9        0.007999      2
10       0.012673     12
11       0.013298      2
12       0.015188      6
13       0.022984      2
14       0.025346     40
15       0.026663      1
16       0.030375      4
17       0.030645      1
18       0.031590      1
19       0.031641      1

See the whole table with table.as_data_frame()

55 Split Value Histogram:

      split_value  count
0             1.5      1
1             4.5      1
2             6.5      1
3             7.5     38
4             8.5      2
5             9.5     13
6            10.5      1
7            12.5      1
8            14.5      9
9            15.5      5
10           16.5      1
11           17.5      3
12           18.5      1
13           19.5     22
14           20.0      2
15           22.0      1
16           22.5      1
17           24.5      3
18           25.5      1
19           26.5      1

See the whole table with table.as_data_frame()

56 Split Value Histogram:

     split_value  count
0            0.5     22

57 Split Value Histogram:

      split_value  count
0            25.5      4
1            26.5      4
2            27.5     10
3            29.5     12
4            30.5      2
5            31.5      1
6            32.5      1
7            33.5      9
8            35.5     14
9            37.5      3
10           41.5      1
11           45.5      1

58 Split Value Histogram:

     split_value  count
0            0.5     35

60 Split Value Histogram:

     split_value  count
0            7.5     18
1            8.5     14
2            9.0      2
3            9.5      2
4           10.5      6

61 Split Value Histogram:

      split_value  count
0             2.5     12
1             4.5      2
2             5.5     11
3             7.5      5
4             8.5      6
5             9.0      4
6            10.5      1
7            11.5      3
8            12.5      1
9            13.5      2
10           14.0      1
11           14.5      3
12           16.5      6
13           18.5     24
14           19.0      1
15           19.5      5
16           21.5      2
17           22.5      4
18           23.0      1
19           24.5      1

See the whole table with table.as_data_frame()

62 Split Value Histogram:

     split_value  count
0            0.5      7
1            1.5     27
2            2.5     13
3            3.5     17
4            4.5     22
5            5.5     20

64 Split Value Histogram:

     split_value  count
0            4.5      2
1            5.5      5
2            6.5      1
3            8.5     20
4            9.5     11
5           10.5     25
6           11.5      2

65 Split Value Histogram:

      split_value  count
0             2.5      7
1             4.5      4
2             5.5      1
3             7.5      1
4             8.5     14
5             9.5      1
6            10.5      2
7            11.0      1
8            11.5      2
9            15.0      1
10           15.5      3
11           16.5      6
12           18.5      1
13           19.0      1
14           19.5      4
15           21.5      1
16           22.0      1
17           22.5      1
18           23.5      1
19           24.5      2

See the whole table with table.as_data_frame()

66 Split Value Histogram:

     split_value  count
0            0.5      4
1            1.5     17
2            2.5     19
3            3.5     14
4            4.5      9
5            5.5     10

67 Split Value Histogram:

     split_value  count
0         2012.5      7

68 Split Value Histogram:

     split_value  count
0            3.0      5
1            3.5      2
2            4.5      1
3            5.5      1
4            7.5      8
5            8.5      3
6            9.5     12
7           10.5      3
8           11.5     12

69 Split Value Histogram:

      split_value  count
0             2.5     10
1             4.5      1
2             5.0      2
3             5.5      2
4             6.5      1
5             7.5      2
6            11.5      2
7            13.5      1
8            14.5      2
9            15.5      1
10           16.5      3
11           18.5      2
12           19.0      2
13           19.5      6
14           21.5      4
15           22.0      2
16           22.5     16
17           25.5      4
18           27.5      8
19           28.5     48

See the whole table with table.as_data_frame()

70 Split Value Histogram:

     split_value  count
0            0.5      5
1            1.5     13
2            2.5     23
3            3.5     12
4            4.5     33
5            5.5     27

71 Split Value Histogram:

     split_value  count
0            0.5     48

72 Split Value Histogram:

     split_value  count
0            0.5     10

73 Split Value Histogram:

     split_value  count
0            0.5     21

74 Split Value Histogram:

     split_value  count
0            0.5     44

75 Split Value Histogram:

     split_value  count
0            0.5     12

76 Split Value Histogram:

     split_value  count
0            0.5     43

77 Split Value Histogram:

     split_value  count
0            0.5      2

79 Split Value Histogram:

     split_value  count
0            0.5      6

80 Split Value Histogram:

     split_value  count
0            0.5    135

81 Split Value Histogram:

     split_value  count
0            0.5      1

82 Split Value Histogram:

     split_value  count
0            0.5     22

83 Split Value Histogram:

     split_value  count
0            0.5     55

84 Split Value Histogram:

     split_value  count
0            0.5     77

85 Split Value Histogram:

     split_value  count
0            0.5     19

86 Split Value Histogram:

     split_value  count
0            0.5     26

87 Split Value Histogram:

     split_value  count
0            0.5     19

88 Split Value Histogram:

     split_value  count
0            0.5      1

89 Split Value Histogram:

     split_value  count
0            0.5     29

90 Split Value Histogram:

     split_value  count
0            0.5     15

91 Split Value Histogram:

     split_value  count
0            0.5      1

92 Split Value Histogram:

     split_value  count
0            0.5     19

93 Split Value Histogram:

     split_value  count
0            0.5      2

94 Split Value Histogram:

     split_value  count
0            0.5      9

103 Split Value Histogram:

     split_value  count
0            0.5     12

104 Split Value Histogram:

      split_value  count
0      -10.705078      1
1       -9.235840      3
2       -9.210938      3
3       -8.265625      2
4       -8.239746      5
5       -8.214844      2
6       -7.500977      1
7       -7.472656      3
8       -7.467773      2
9       -7.267578      1
10      -6.471680      2
11      -6.247559      1
12      -6.222656      4
13      -5.973633      5
14      -5.749512      4
15      -5.724609      2
16      -5.500000      1
17      -5.475586      1
18      -5.251465      1
19      -5.242188      1

See the whole table with table.as_data_frame()

105 Split Value Histogram:

      split_value  count
0             0.5      4
1             1.5      2
2             2.0      1
3             2.5      1
4             3.5      1
5             4.5      1
6             6.5      3
7             8.5      3
8             9.0      1
9             9.5      1
10           10.5      2
11           11.5      2
12           12.5      4
13           14.5      1
14           15.5      1
15           17.5      1
16           18.5      1
17           19.5      1
18           20.5      1
19           21.5      1

See the whole table with table.as_data_frame()

106 Split Value Histogram:

     split_value  count
0            0.5     16

107 Split Value Histogram:

     split_value  count
0            0.5     21

108 Split Value Histogram:

     split_value  count
0            0.5      9

109 Split Value Histogram:

     split_value  count
0            1.5    296
1            2.5    116
2            3.5    158
3            4.5    112
4           10.0    130
5           11.0     12
6           17.5     86
7           18.5      6
8           19.0      1
9           20.0      4

110 Split Value Histogram:

      split_value  count
0             0.5     45
1             1.5     36
2             2.0     21
3             2.5     10
4             3.5     16
5             4.0     12
6             5.0     13
7             6.0      5
8             8.0      2
9             8.5      5
10            9.5     36
11           10.0      7
12           11.5      1
13           12.0      1
14           16.5     10
15           17.5      2
16           19.0     17
17           19.5      1
18           20.0      2
19           36.5      1

111 Split Value Histogram:

      split_value  count
0            10.5      2
1            20.5      2
2            39.5      1
3            58.5      3
4            77.5      7
5           116.5      1
6           121.0      1
7           135.5      1
8           153.5      1
9           154.5      1
10          173.5      1
11          174.5      1
12          192.5      2
13          211.5      2
14          231.5      1
15          236.5      1
16          239.0      2
17          256.5      1
18          265.5      1
19          267.5      1

See the whole table with table.as_data_frame()

112 Split Value Histogram:

     split_value  count
0            0.5      3
1            1.5      1

113 Split Value Histogram:

     split_value  count
0            0.5      1
1            1.5      2
2            4.5      1

114 Split Value Histogram:

      split_value  count
0             2.5      1
1             4.0      4
2             4.5      1
3             6.0      2
4             6.5      4
5             8.0      5
6             9.0      1
7            12.0      4
8            13.0      1
9            16.0      3
10           20.0      1
11           25.0      1
12           46.0      1
13           48.0      1
14           53.0      1
15           70.0      1
16           71.0      1
17           80.0      1
18           86.0      1
19           88.0      1

115 Split Value Histogram:

     split_value  count
0            0.5      1
1            1.5      6
2            2.5      1
3            3.5      5
4            4.5      5
5            5.5      4
6            6.5      5
7            7.5      1
8            8.5      4
9           14.5      1

116 Split Value Histogram:

      split_value  count
0             1.5      4
1             2.5      2
2             4.0      1
3             4.5     34
4             5.5      3
5             6.5     16
6             7.5      2
7             8.5     14
8             9.5      4
9            10.5     26
10           11.5     12
11           12.0      6
12           12.5      2

117 Split Value Histogram:

      split_value  count
0             2.0      1
1             2.5      3
2             3.5      1
3             4.0      2
4             4.5     40
5             5.0      2
6             5.5      2
7             6.0      1
8             9.5      8
9            10.0      4
10           10.5      1
11           13.5      1
12           16.5      1
13           18.0      1

118 Split Value Histogram:

     split_value  count
0            1.5      1
1            2.0      1
2            2.5      1
3            3.5      1
4            4.5     19
5            6.0      4
6            7.5      1

119 Split Value Histogram:

     split_value  count
0            0.5     23
1            1.5      2
2            3.5      1
3            4.5      4
4            5.5      1
5            6.5      2
6            7.5      3
7            8.5      1

120 Split Value Histogram:

      split_value  count
0             0.5      4
1             1.5      4
2             2.5      2
3             3.5      2
4             4.5      2
5             5.5     14
6             6.0      7
7             6.5      1
8             8.5      8
9            10.5      2
10           12.0      1
11           12.5      8
12           13.5      3
13           14.0      1
14           14.5      2
15           16.5      5
16           18.5      1
17           20.0      1
18           20.5     15
19           21.5      1

See the whole table with table.as_data_frame()

121 Split Value Histogram:

     split_value  count
0            0.5      2
1            1.5      1
2            2.5      2
3            3.5      9
4            4.5      1
5           14.5      4

122 Split Value Histogram:

     split_value  count
0            0.5      8
1            1.5      4
2            2.5     12
3            3.5      1
4            4.5      1
5            5.5      2
6            6.5      3
7            7.5      7

123 Split Value Histogram:

     split_value  count
0            0.5      1
1            1.5      2
2            3.5      1
3            5.5      2

124 Split Value Histogram:

     split_value  count
0            0.5      3
1            1.5      2
2            2.0      2
3            2.5      1
4            3.5      1
5            4.0      1
6            8.5     14

125 Split Value Histogram:

     split_value  count
0            0.5      2
1            1.5      3
2            2.5      3
3            4.5      1
4            5.5      3
5            7.5      1

126 Split Value Histogram:

     split_value  count
0            0.5      2
1            1.5      4
2            2.5      4
3            3.5      1
4            4.5      5
5            5.5      1
6            6.5      2

127 Split Value Histogram:

     split_value  count
0            0.5      2
1            1.5     33
2            2.5      4
3            3.5      3
4            5.5      1
5            6.5      1

128 Split Value Histogram:

     split_value  count
0            0.5      4
1            1.5      6
2            2.5     11
3            3.5      7
4            4.5      1

129 Split Value Histogram:

     split_value  count
0            0.5     10
1            1.5      7
2            2.5      4
3            4.5      1
4            5.5      1

130 Split Value Histogram:

     split_value  count
0            0.5     12
1            1.5     38
2            2.5      1

131 Split Value Histogram:

     split_value  count
0            0.5     30
1            2.5      3
2            3.5     39

132 Split Value Histogram:

     split_value  count
0            0.5      6
1            1.5      1
2            2.0      3
3            3.5      1
4            4.0      3
5            4.5      2
6            6.0      3

133 Split Value Histogram:

     split_value  count
0            0.5     15
1            1.5      9
2            2.5     13
3            3.5      1
4            4.5      3

134 Split Value Histogram:

     split_value  count
0            0.5      7
1            1.5      3
2            2.5      1
3            3.5      1

135 Split Value Histogram:

     split_value  count
0            0.5      7
1            1.5     19
2            2.5      4
3            3.5     15
4            4.5     15
5            5.5      1
6            8.5      1
7            9.5     16
8           10.5      7
9           12.5      6

136 Split Value Histogram:

     split_value  count
0            1.5     17
1            2.5      6

137 Split Value Histogram:

     split_value  count
0            0.5      9
1            1.5     21
2            2.5     31
3            3.5      1

138 Split Value Histogram:

     split_value  count
0            0.5     19
1            1.5      4
2            2.5      1
3            4.5      7

139 Split Value Histogram:

     split_value  count
0            0.5      4
1            1.5      2
2            2.5      1
3            3.5      2
4            4.5      6

140 Split Value Histogram:

     split_value  count
0            0.5      4
1            1.5      5
2            2.5     13
3            4.5      1

141 Split Value Histogram:

     split_value  count
0            0.5      4
1            1.5      4
2            2.5      1
3            3.5      4
4            4.5      3

142 Split Value Histogram:

     split_value  count
0            0.5     32
1            1.5      5
2            2.5      1
3            3.5      1

143 Split Value Histogram:

     split_value  count
0            0.5      8
1            3.5      1

144 Split Value Histogram:

     split_value  count
0            0.5     43
1            1.5      6
2            2.5      1
3            3.5      3
4            5.5      2
5            6.5      2

145 Split Value Histogram:

     split_value  count
0            1.5      7
1            3.5      2
2            5.5      2
3            6.5      6

146 Split Value Histogram:

     split_value  count
0            0.5     20
1            1.5     25
2            2.5      3
3            3.5      8
4            4.5      2
5            5.5      1

147 Split Value Histogram:

     split_value  count
0            0.5     20
1            1.5     28
2            2.5      3

148 Split Value Histogram:

     split_value  count
0            0.5     10
1            1.5     15
2            2.5      1
3            3.5      6
4            5.5      3

149 Split Value Histogram:

     split_value  count
0            0.5     10
1            1.5      4
2            2.5      6

150 Split Value Histogram:

     split_value  count
0            0.5      7
1            1.5      1
2            2.5      5

151 Split Value Histogram:

     split_value  count
0            0.5      8
1            1.5      3
2            2.5      5

152 Split Value Histogram:

     split_value  count
0            0.5      2
1            1.5      2
2            2.5      2
3            3.5     25
4            4.5      2
5            6.5      3

153 Split Value Histogram:

     split_value  count
0            0.5     22
1            1.5      4
2            2.5      7

154 Split Value Histogram:

     split_value  count
0            1.5     12
1            2.5     16
2            3.5     19
3            5.0      3

155 Split Value Histogram:

     split_value  count
0            0.5      2
1            1.5     11
2            2.5      1

156 Split Value Histogram:

     split_value  count
0            0.5      2
1            2.5      1

157 Split Value Histogram:

     split_value  count
0            0.5     12
1            1.5      7
2            3.5      2

158 Split Value Histogram:

     split_value  count
0            0.5      9
1            1.5     11
2            2.5      1
3            3.5     29
4            4.5      3
5            5.0     10

159 Split Value Histogram:

     split_value  count
0            0.5      3
1            1.5      2
2            2.5     51

160 Split Value Histogram:

     split_value  count
0            0.5      3

161 Split Value Histogram:

     split_value  count
0            0.5     10
1            2.5      1
2            3.5      8

162 Split Value Histogram:

     split_value  count
0            0.5      3
1            1.5      5
2            2.5      7
3            5.0      1

163 Split Value Histogram:

     split_value  count
0            0.5     43
1            1.5      5
2            2.5      1

164 Split Value Histogram:

     split_value  count
0            0.5      4
1            1.5     16

165 Split Value Histogram:

     split_value  count
0            0.5      2
1            1.5     17
2            2.5      2

166 Split Value Histogram:

     split_value  count
0            0.5     90
1            1.5     32
2            2.5      5

167 Split Value Histogram:

     split_value  count
0            0.5     11
1            1.5     20
2            2.5      6
3            3.5      1
4            4.5      1

168 Split Value Histogram:

     split_value  count
0            0.5     11
1            1.5     17

169 Split Value Histogram:

     split_value  count
0            0.5      8

170 Split Value Histogram:

     split_value  count
0            0.5      1
1            1.5      1
2            2.0      3
3            2.5      1

171 Split Value Histogram:

     split_value  count
0            0.5     37
1            1.5      5
2            2.5     25

172 Split Value Histogram:

     split_value  count
0            0.5      2
1            1.5     11
2            2.5      4

173 Split Value Histogram:

     split_value  count
0            0.5     13
1            1.5      5

174 Split Value Histogram:

     split_value  count
0            0.5      4
1            2.5      1
2            3.5      2

175 Split Value Histogram:

     split_value  count
0            0.5      1
1            3.5      2

176 Split Value Histogram:

     split_value  count
0            0.5      5
1            1.5     12
2            2.5      3

177 Split Value Histogram:

     split_value  count
0            0.5      9
1            1.5      7
2            2.5      2
3            3.5     15
4            4.5      6

178 Split Value Histogram:

     split_value  count
0            0.5      3
1            1.5     28
2            2.5      2
3            3.5     55
4            4.5     17

179 Split Value Histogram:

     split_value  count
0            0.5     32
1            1.5     15
2            2.5      1
3            5.5      1

180 Split Value Histogram:

     split_value  count
0            0.5     52
1            1.5      7
2            2.5      2

181 Split Value Histogram:

     split_value  count
0            0.5      7
1            1.5     15

182 Split Value Histogram:

     split_value  count
0            0.5     17
1            1.5      2

183 Split Value Histogram:

     split_value  count
0            0.5      4
1            1.5     11

184 Split Value Histogram:

     split_value  count
0            0.5      2
1            1.5      1

185 Split Value Histogram:

     split_value  count
0            0.5      8
1            1.5     50
2            2.5     16
3            3.5     21
4            5.5      1

186 Split Value Histogram:

     split_value  count
0            0.5      5
1            1.5      9
2            3.5      2

187 Split Value Histogram:

     split_value  count
0            0.5      6
1            2.5      3

188 Split Value Histogram:

     split_value  count
0            0.5     18
1            1.5      4

189 Split Value Histogram:

     split_value  count
0            0.5     29

190 Split Value Histogram:

     split_value  count
0            0.5     11
1            1.5      5
2            2.5      3
3            3.5     16

191 Split Value Histogram:

     split_value  count
0            0.5     29
1            1.5     13
2            2.5     29

192 Split Value Histogram:

     split_value  count
0            0.5     10
1            1.5      1
2            3.5      5

193 Split Value Histogram:

     split_value  count
0            0.5      6
1            1.5     23
2            2.5     18
3            3.5     18
4            4.5      4
5            5.5      8
6            8.0      1
7            8.5      3

194 Split Value Histogram:

     split_value  count
0            0.5      8
1            1.5     24
2            2.5      1
3            3.5     10

195 Split Value Histogram:

     split_value  count
0            0.5      6
1            1.5      8

196 Split Value Histogram:

     split_value  count
0            0.5     34
1            1.5      2

197 Split Value Histogram:

     split_value  count
0            0.5      3

198 Split Value Histogram:

     split_value  count
0            0.5      1

199 Split Value Histogram:

     split_value  count
0            0.5     14
1            1.5      2

[,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ]

In [240]:
# pipeline = automl.get_pipeline(122)
# pipeline.fit(X_train, y_train)
# print(pipeline.score(X_holdout, y_holdout, ["auc"]))
# clf=pipeline
# print(1-scores)
# clf.fit(X,Y)
raise Exception

#model.model_performance()

Exception:

In [ ]:
feature_names = ['delta1', 'not_going_ratio', 'attended', 'distance', 'eaf', 'min_delta_ratio', 'invited',
                 'maybe', 'enf', 'emf']
feature_names += ["bcou"+str(i) for i in range(11)]
feature_names += ["wc"+str(i) for i in range(30)]
feature_names += ['train_count', 'test_count', 'delta2', 'delta3', 'not_going', 'gender', 'age', 'fr_with_org']
feature_names += ['yts', 'mts', 'dts', 'wts']
feature_names += ['yms', 'mms', 'dms', 'wms']
feature_names += ['ytd', 'mtd', 'dtd', 'wtd']
feature_names += ["tcou"+str(i) for i in range(11)]
feature_names += ["tcit"+str(i) for i in range(11)]
feature_names += ["lang"+str(i) for i in range(11)]
feature_names += ['tz','sum_wc' 'we1', 'we2', 'we3', 'lc', 'dc', 'no_fri']

X_train, X_test, y_train, y_test = train_test_split(
    X, Y, test_size=0.2, random_state=13)

#params = { 'max_depth':20, 'n_estimators':201, 'max_features':gbmf, 'random_state':0 }
params = { 'max_depth':20, 'n_estimators':201, 'max_features':rfmf, 'random_state':0 , 'max_samples':0.7}
#params = { 'iterations':250, 'learning_rate':0.1, 'depth':10, 'eval_metric': 'Accuracy', 'random_state':0, 'verbose':100}
#params = { 'estimators' : [('rf',clf0), ('gb',clf1)], 'weights' : weights }

#reg = CatBoostClassifier(**params)
reg = RandomForestClassifier(**params)
#reg = GradientBoostingClassifier(**params)
#reg = VotingClassifier(**params)
reg.fit(X_train, y_train)

'''
mse = mean_squared_error(y_test, reg.predict(X_test))
print("The mean squared error (MSE) on test set: {:.4f}".format(mse))

test_score = np.zeros((params['n_estimators'],), dtype=np.float64)
for i, y_pred in enumerate(reg.staged_predict(X_test)):
    test_score[i] = reg.loss_(y_test, y_pred)

fig = plt.figure(figsize=(6, 6))
plt.subplot(1, 1, 1)
plt.title('Deviance')
plt.plot(np.arange(params['n_estimators']) + 1, reg.train_score_, 'b-',
         label='Training Set Deviance')
plt.plot(np.arange(params['n_estimators']) + 1, test_score, 'r-',
         label='Test Set Deviance')
plt.legend(loc='upper right')
plt.xlabel('Boosting Iterations')
plt.ylabel('Deviance')
fig.tight_layout()
plt.show() '''

feature_importance = reg.feature_importances_
sorted_idx = np.argsort(feature_importance)
pos = np.arange(sorted_idx.shape[0]) + .5
fig = plt.figure(figsize=(17, 17))
plt.subplot(1, 2, 1)
plt.barh(pos, feature_importance[sorted_idx], align='center')
plt.yticks(pos, np.array(feature_names)[sorted_idx])
plt.title('Feature Importance (MDI)')

result = permutation_importance(reg, X_test, y_test, n_repeats=10,
                                random_state=42, n_jobs=2)
sorted_idx = result.importances_mean.argsort()
plt.subplot(1, 2, 2)
plt.boxplot(result.importances[sorted_idx].T,
            vert=False, labels=np.array(feature_names)[sorted_idx])
plt.title("Permutation Importance (test set)")
fig.tight_layout()
plt.show()

In [249]:
ts = {}
inv = {}
num_bt = {}
for index, row in test.iterrows():
    ts[(row["biker_id"], row["tour_id"])] = row["timestamp"]
    inv[(row["biker_id"], row["tour_id"])] = row["invited"]
    num_bt[(row["biker_id"], row["tour_id"])] = index
    
test_Y = clf.predict_proba(test_X)
test_Y.shape

(2690, 2)

In [250]:
train_bikers_set = np.array(train["biker_id"].drop_duplicates())
bikers_out = []
tours_out = []
for biker1 in tqdm(test_bikers_set):
    idx = np.where(biker1==test["biker_id"]) 
    tour = list(test["tour_id"].loc[idx]) # for each unique biker in test data get all the events  
    score = {}
    for tou in tour:
        #fe = make_feature(biker1, tou, ts[(biker1, tou)], inv[(biker1, tou)]).reshape(1,-1)
        #fe = [make_feature(biker1, tou, ts[(biker1, tou)], inv[(biker1, tou)])]
        #fe = scaler.transform(fe)
#         s1 = clf0.predict_proba(fe)[0][1]
#         s2 = clf1.predict_proba(fe)[0][1]
#         #print(s1, s2)
#         rf_wt = 0.5
#         score[tou] = s1*rf_wt + s2*(1-rf_wt)
        #print(clf.predict_proba(fe)[0])
        #s = clf.predict_proba(fe)[0][0]
        
        #s = clf.predict_proba(fe)[0][1]        
        
        s = test_Y[num_bt[(biker1, tou)]][1]
        score[tou] = s
    #print(score)
    tour.sort(key = lambda x : score[x], reverse = True)
    tour = " ".join(tour) # list to space delimited string
    bikers_out.append(biker1)
    tours_out.append(tour)

100%|██████████| 297/297 [00:00<00:00, 1324.68it/s]

In [251]:
sample_submission =pd.DataFrame(columns=["biker_id","tour_id"])
sample_submission["biker_id"] = bikers_out
sample_submission["tour_id"] = tours_out
sample_submission.to_csv("output/submission165.csv",index=False) # download this file from /kaggle/working directory
print(sample_submission.shape)
sample_submission.head(10)

(297, 2)

,biker_id,tour_id
0,CG33145288,YU2519340 QX16813281 QP76364848 QR03717384 WX2683695 RQ49464820 RV...
1,EC61865653,QU48928340 YQ5403718 ST80624055 US0307239 SR2219501 QS25647788 RR1...
2,CC23946882,YV890078 YV6176695 RU03553114 QT97445719 SX31661369 UX1543591 SU88...
3,DC82478477,YW217712 SV43004825 QV19013260 TR67083677
4,EC46728549,RQ33183406 VP2394192 RU29072432 QS61307272 WW1676713 RT89566262 SS...
5,DJ43175229,WU7252209 TR54164270 XP6696202 XU675684 SY4293006 RU8676103 SW7910...
6,EA60379526,QT66528489 SS27788367 QX10747729 SX28664529 SX79292193 VW2757840
7,HB3889887,RP43455253 WT1936389 QW76393554 SX07386691 QP95206162 QV99561506
8,CJ45719859,RU98678508 SS69927458 RQ45977549 SS84785057 SQ17416613 WY5158097
9,BA17536864,QV99663431 RW31716338 SQ50441220 QY9858305 RX05037878 ST99428374 X...

In [ ]:
#np.set_printoptions(formatter={'float': '{: 0.6f}'.format}, linewidth=200, suppress=True)
pd.DataFrame(X).to_csv("Data/x_1.csv", header=False)
# old_x = pd.read_csv("Data/x.csv", header = None)
# old_x[4].values
#probabs.to_csv("Data/probabs.csv", header=False)

In [ ]:
tours_useful_h = pd.read_csv("Data/tours_useful.csv")
bikers_useful_h = pd.read_csv("Data/bikers_useful.csv")
fig, axs = plt.subplots(1, 1, 
                        figsize =(10, 7),  
                        tight_layout = True) 
  
axs.hist(np.array(bikers_useful_h['latitude']), bins = 30) 
  
# Show plot 
plt.show()

In [ ]:
#tours[tours["tour_id"] == "TP58829330"]
#X_train.shape
latlist = []
longlist = []
for tid, row in tours.items():
    if row[6] != '':
        latlist.append((float(row[6])))
    if row[7] != '':
        longlist.append((float(row[7])))
        
pd.DataFrame(longlist)[0].describe()

In [ ]:
dire = "Data"
biker=pd.read_csv(dire + "/bikers_useful.csv")
tours=pd.read_csv(dire + "/tours_useful.csv")
biker["latitude"] = biker["latitude"].replace(0, 3)
biker["longitude"] = biker["longitude"].replace(0, 100)
tours["latitude"] = tours["latitude"].fillna(3)
tours["longitude"] = tours["longitude"].fillna(100)
biker.to_csv(dire + "/bikers_useful.csv", index = False)
tours.to_csv(dire + "/tours_useful.csv", index = False)
tours.head()

In [ ]:
# locat = geolocator.reverse("41.25007, -69.9963491")
# str(locat).split(',')
for index, row in train.iterrows():
    bid = row['biker_id']
    tse = row['timestamp']
    print(get_lang(bid.upper()), bid.upper())

In [ ]:
top_10_loc = {}
gg.union(top_10_countries)
for coun in gg:
    nam = pycountry.countries.get(alpha_2=coun)
    name = 0.0
    if nam != None:
        name = nam.name
    else:
        continue
    loca = geolocator.geocode(name)
    if loca == None:
        print(name)
        continue
    top_10_loc[coun] = [loca.latitude, loca.longitude]
top_10_loc

In [ ]:
# biker_aba= pd.read_csv("temp/bikers_useful.csv")
# biker_aba.head()
# for index, row in train.iterrows():
#     b1 = row["biker_id"]
#     b2 = tours[row["tour_id"]][0]
#     print(b2 in biker_net)
b = []
for bike1 in tqdm(test_bikers_set):
    idxa = np.where(bike1==test["biker_id"]) 
    tourd = list(test["tour_id"].loc[idxa]) # for each unique biker in test data get all the events  
    for toud in tourd:
        b.append(toud)
b=np.array(b)
pd.DataFrame(b).to_csv("Data/test_tids.csv", header=None)

In [ ]:
tours['SY28440935'][2] == ''
print("Accuracy: %0.4f (+/- %0.4f)" % (scores.mean(), scores.std() * 2))

In [ ]:
#pd.DataFrame(test_X).to_csv("Data/test_x.csv", header=None)
nam = pycountry.countries.get(alpha_2='CA')
loca = geolocator.geocode(nam.name)
print(loca.latitude, loca.longitude)